
<section class="section pdt-0 ov-v" id="@SectionId">
    <div class="ui-mask-left ui-mask-s9"></div>
    <div class="container">
        <!-- Block  -->
        <div class="nk-block nk-block-text-wrap">
            <div class="row align-items-center gutter-vr-30px justify-content-between gutter-vr-30px">
                <div class="col-lg-5 col-mb-9 m-auto order-first order-lg-last">
                    <div class="nk-block-img animated" data-animate="fadeInUp" data-delay=".3">
                        <img src="images/picture_of_flower_growing_in_each_step_of_the_grow_on.png" alt="app">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="nk-block-text animated" data-animate="fadeInUp" data-delay=".2">
                        @Content
                    </div>
                </div>
            </div><!-- .row -->
        </div><!-- .block  -->
    </div>
</section>

@code {

    [Parameter]
    public string SectionId { get; set; }

    [Parameter]
    public RenderFragment? Content { get; set; }

}
