@using System.Reflection

@inherits LayoutComponentBase

@inject IHttpClientFactory ClientFactory

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        <footer>
            Site version: @GetSiteVersion()
            <br />
            API version:  @APIversion
        </footer>
    </main>
</div>


 
@code {

    private string APIversion = "";

    protected override async Task OnInitializedAsync() {
        try {
            
            var httpClient = ClientFactory.CreateClient("CGW.MobileAppApi.NoAuthenticationClient");
            APIversion = await httpClient.GetStringAsync("api/version");
        }
        catch (Exception e) {
            APIversion = "API is not available, check the console for more details.";
            Console.WriteLine(e);
        }

    }
    public static string GetSiteVersion() {
        Version version = Assembly.GetExecutingAssembly().GetName().Version??new Version(1,0,0);
        return version.ToString();
    }



}