@inherits LayoutComponentBase

@inject IJSRuntime JsRuntime

<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>
<div id="page">
    
    <!-- Header -->
    <div class="header-bar header-fixed header-app header-bar-detached">
        <a data-back-button href="#"><i class="bi bi-caret-left-fill font-11 color-theme ps-2"></i></a>
        <a data-back-button href="#" class="header-title color-theme font-13">
            Back to Previous Page
        </a>
    
        <a href="#" data-bs-toggle="offcanvas" data-bs-target="#menu-color"><i class="bi bi-palette-fill font-13 color-highlight"></i></a> 
        <a href="#" data-bs-toggle="offcanvas" data-bs-target="#menu-bell"><em class="badge bg-highlight ms-1">3</em><i class="font-14 bi bi-bell-fill"></i></a>
        <a href="#" data-bs-toggle="offcanvas" data-bs-target="#menu-flowers-notification"><em class="badge bg-highlight ms-1">3</em><i class="font-14 bi bi-flower2"></i></a>
    </div>
    

    <HighlightsMenu />

    <NotificationsMenu />

    <FlowersNotificationsMenu />

    <!-- Footer Bar-->
    <div id="footer-bar" class="footer-bar footer-bar-detached">
        <div class="me-3 speach-icon">
            <a href="#" class="bg-gray-dark ms-1" data-bs-toggle="offcanvas" data-bs-target="#menu-upload"><i class="bi bi-plus font-23 pt-2"></i></a>
        </div>
        <div class="flex-fill speach-input">
            <input type="text" class="form-control bg-theme" placeholder="Enter your Message here">
        </div>
        <div class="ms-3 speach-icon">
            <a href="#" class="bg-blue-dark me-1"><i class="bi bi-chevron-up pt-2"></i></a>
        </div>
    </div>

    <SidebarMenu />

    @Body

    <SectionOutlet SectionName="offcanvas" />

    <PwaInstallMenu />

    
    @using Toolbelt.Blazor.PWA.Updater
    @* 👇 Toolbelt.Blazor.PWA.Updater. *@
    <PWAUpdater />

</div>
@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
    // this statement assumes the module is in the wwwroot/js folder
    // _module = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/CoinGardenWorldMobileApp.MobileAppTheme/scripts/custom.js");
            await JsRuntime.InvokeVoidAsync("removePreloader");
        }
    }

}