@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>


        <div class="bg-theme mx-3 rounded-m shadow-m mt-3 mb-3">
            <div class="d-flex px-2 pb-2 pt-2">
                <div>
                    <a href="#"><img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/7s.jpg" width="45" class="rounded-s" alt="img"></a>
                </div>
                <div class="ps-2 align-self-center">
                    <h5 class="ps-1 mb-0 line-height-xs pt-1">

                        Hello, @context.User.Identity?.Name!
                    </h5>
                    <h6 class="ps-1 mb-0 font-400 opacity-40">
                        Current Role: Junior Gardener 
                    </h6>
                </div>
                <div class="ms-auto">
                    <a href="#" data-bs-toggle="dropdown" class="icon icon-m ps-3"><i class="bi bi-three-dots-vertical font-18 color-theme"></i></a>
                    <div class="dropdown-menu  bg-transparent border-0 mt-n1 ms-3">
                        <div class="card card-style rounded-m shadow-xl mt-1 me-1">
                            <div class="list-group list-custom list-group-s list-group-flush rounded-xs px-3 py-1">
                                <a href="page-profile-admin.html" class="color-theme opacity-70 list-group-item py-1">
                                    <strong class="font-500 font-12">Your Profile</strong><i class="bi bi-chevron-right"></i>
                                </a>
                                <a href="page-activity.html" class="color-theme opacity-70 list-group-item py-1">
                                    <strong class="font-500 font-12">Notifications</strong><i class="bi bi-chevron-right"></i>
                                </a>
                                <button class="color-theme opacity-70 list-group-item py-1" @onclick="BeginLogOut">
                                    <strong class="font-500 font-12">Log Out</strong><i class="bi bi-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </Authorized>
    <NotAuthorized>




        <div class="bg-theme mx-3 rounded-m shadow-m mt-3 mb-3">
            <div class="d-flex px-2 pb-2 pt-2">
                <a href="authentication/login" class="btn btn-m rounded-sm shadow-xl bg-highlight color-white font-900 text-uppercase">Login</a>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
