@inherits LayoutComponentBase

@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
        </article>
    </main>
</div> *@

<!--
        <svg class="loading-progress">
            <circle r="40%" cx="50%" cy="50%" />
            <circle r="40%" cx="50%" cy="50%" />
        </svg>
        <div class="loading-progress-text"></div> -->
@* <div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div> *@



<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>

<div id="page">
    
    <TopToast />

    <HeaderBar />

    <FooterBar />

    <SidebarMenu />

    @* <div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div> *@
  

    @Body

    
    <SectionOutlet SectionName="offcanvas" />

    <HighlightsMenu />
    <LanguagesMenu />
    <NotificationsMenu />
    <FlowersNotificationsMenu />

    @using Toolbelt.Blazor.PWA.Updater
    @* 👇 Toolbelt.Blazor.PWA.Updater. *@
    <PWAUpdater />


    <PwaInstallMenu />
</div>
@code
{
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            
            // Set initial load for theme 
            ThemeLoader.IsInitialLoad = true;
        }
    }

}