@inherits LayoutComponentBase

@using CoinGardenWorldMobileApp.MobileAppTheme.LocalStorage

@inject IJSRuntime JsRuntime
@inject IHybridStorage localStorage

<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>
<div id="page">
    

    @Body

    
    <SectionOutlet SectionName="offcanvas" />


    <HighlightsMenu />
    <LanguagesMenu />
    <NotificationsMenu />
    <FlowersNotificationsMenu />

    <PwaInstallMenu />

    @using Toolbelt.Blazor.PWA.Updater
    @* 👇 Toolbelt.Blazor.PWA.Updater. *@
    <PWAUpdater />

</div>
@code
{
    protected override Task OnInitializedAsync()
    {
        var defaultColor = "green";
        localStorage.SetString(LocalStorage.Constants.THEME_COLOR_LOCAL_STORAGE_NAME, defaultColor );

        return base.OnInitializedAsync();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // this statement assumes the module is in the wwwroot/js folder
            // _module = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/CoinGardenWorldMobileApp.MobileAppTheme/scripts/custom.js");
            await JsRuntime.InvokeVoidAsync("removePreloader");

        }
    }

}