

<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-@Id-@Counter" aria-expanded="false" aria-controls="accordion-@Id-@Counter">
        <i class="bi @Icon @Color pe-3 font-14"></i>
        <span class="font-600 font-13">
            @Name
        </span>
        <i class="bi bi-plus font-20"></i>
    </button>


<div id="accordion-@Id-@Counter" class="accordion-collapse collapse" data-bs-parent="#accordion-@Id" style="" aria-controls="accordion-@Id-@Counter">
        <p class="px-3 mb-0 pb-3 pt-1">
        @Description
        </p>
    </div>
@code {
    [Parameter]
    public string Id { get; set; }
    [Parameter]
    public int Counter { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public string Color { get; set; }
}
