:root {
    --primaryColor: #68217a;
    --secondaryColor: #f4f4f4;
    --bgMenuActive: #8e47a0;
    --bgButton: #68217a;
    --logoImageUrl: url('https://coingarden.world/images/logo_for_a_flowers_farming_game_globe_with_multiple_islnds-500x500.webp');
    --bgAside: var(--primaryColor);
}

.hc-aside {
    display: none !important;
}