@using System.Diagnostics
@using CoinGardenWorld.Theme.Infra
@inherits LayoutComponentBase
@inject IJSRuntime jsRuntime
@inject IStringLocalizer<HomeLayout> _localizer

<PWAUpdater />

<CascadingValue Value="this">

    <div class="nk-wrap">
        
        <header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">

            <TopHeaderMenu />
            
            <CascadingValue Value="@Banner" Name="Banner">

                @Banner
            </CascadingValue>
        </header>

        <main class="nk-pages">
            @Body
        </main>

        <Footer></Footer>

    </div>

</CascadingValue>
<!-- preloader -->
<div class="preloader preloader-alt no-split"><span class="spinner spinner-alt"><img class="spinner-brand" src="./images/logo_for_a_flowers_farming_game_globe_with_multiple_islnds-230x230.webp" alt=""></span></div>

@if (BuildConfigurationModeDetector.Current.Release()) {
    <ChatFacebook></ChatFacebook>
}
@code {

    [Parameter]
    public RenderFragment? Banner { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        await base.OnAfterRenderAsync(firstRender);

        if (!firstRender)
        {
            var module = await jsRuntime.InvokeAsync<IJSInProcessObjectReference>(
                "import", "./_content/CoinGardenWorld.Theme/assets/js/scripts.js");
            //await module.InvokeAsync<string>("NioApp.winLoad");
            await module.InvokeAsync<string>("NioApp.Plugins.particles");
        }
    }
}
