<!-- // -->
<section class="section has-ovm" id="token-home">
    <div class="ui-mask-right ui-mask-s12"></div>
    <div class="container">
        <!-- Section Head  -->
        <div class="section-head text-center wide-sm animated" data-animate="fadeInUp" data-delay=".1">
            <h2 class="title title-dark title-regular">
                @Title
                
            </h2>
        </div>
        <!-- Section Head  -->
        <div class="nk-block">
            <div class="row">
                <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
                    <div class="feature feature-center card animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="feature-icon feature-icon-eth mb-1">
                            <i class="icon icon-md cf cf-eth"></i>
                        </div>
                        <div class="feature-text feature-currency">
                            <h3 class="title title-sm">Ethereum</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
                    <div class="feature feature-center card animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="feature-icon feature-icon-eth mb-1">
                            <i class="icon icon-md cf cf-bnb"></i>  <!-- Bitcoin -->
                        </div>
                        <div class="feature-text feature-currency">
                            <h3 class="title title-sm">Binance</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
                    <div class="feature feature-center card animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="feature-icon feature-icon-eth mb-1">
                            <i class="icon icon-md cf cf-matic"></i>  <!-- Bitcoin -->
                        </div>
                        <div class="feature-text feature-currency">
                            <h3 class="title title-sm">Polygon</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
                    <div class="feature feature-center card animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="feature-icon feature-icon-eth mb-1">
                            <i class="icon icon-md cf cf-dot"></i>  <!-- Bitcoin -->
                        </div>
                        <div class="feature-text feature-currency">
                            <h3 class="title title-sm">Polkadot</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
                    <div class="feature feature-center card animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="feature-icon feature-icon-eth mb-1">
                            <i class="icon icon-md cf cf-avax"></i>  <!-- Bitcoin -->
                        </div>
                        <div class="feature-text feature-currency">
                            <h3 class="title title-sm">Avalanche</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
                    <div class="feature feature-center card animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="feature-icon feature-icon-eth mb-1">
                            <i class="icon icon-md cf cf-sol"></i>  <!-- Bitcoin -->
                        </div>
                        <div class="feature-text feature-currency">
                            <h3 class="title title-sm">Solana</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

    [Parameter]
    public string Title { get; set; }
}
