<div class="card card-style">
    <div class="content">
        <div class="d-flex">
            <div>
                <h6 class="mb-n1 opacity-80 color-highlight">Cards are Awesome</h6>
                <h3>Card With Title</h3>
            </div>
            <div class="align-self-center ms-auto">
                <i class="bi bi-check-circle-fill font-24 color-green-dark"></i>
            </div>
        </div>
        <p>This card has a smaller title over your main title. It's easy to update to match your needs.</p>
    </div>
</div>

@code {

}
