

<div class="card card-style">
    @if (!string.IsNullOrEmpty(EmbedLink))
    {

        <div class="responsive-iframe rounded-s">
            <iframe class="rounded-s" src="@EmbedLink" frameborder="0" allowfullscreen="" name=""></iframe>
        </div>
    }
    else
    {
        <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/coingarden/flower_growing_in_each_step_of_the_grow.png" class="img-fluid">
    }

    <div class="content">
        <h3 class="font-19 font-800">
            @Header
        </h3>
        <p class="mt-0 mb-3">
            @Content
        </p>


        <div class="divider mb-3"></div>
        <div class="d-flex">
            <div class="me-auto">
                <a href="#" class="color-theme opacity-50">
                    <i class="bi bi-hand-thumbs-up-fill pe-2 font-11"></i>
                    Like
                </a>
            </div>
            <div>
                <a href="#" class="color-theme opacity-50">
                    <i class="bi bi-chat-fill font-11 pe-2"></i>
                    Comment
                </a>
            </div>
            <div class="ms-auto">
                <a href="#" class="color-theme opacity-50">
                    <i class="bi bi-share-fill font-10 pe-3"></i>
                    Share
                </a>
            </div>
        </div>
    </div>
</div>


@code {
    // TODO: Check if Youtube or embed or picture
    [Parameter]
    public string EmbedLink { get; set; }

    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public RenderFragment Content { get; set; }

}
