
<div class="card card-style">
    <div class="content">

        <h4 class="font-17 font-800">Went shopping today at <strong class="color-highlight">Apple</strong>. Got the latest <strong class="color-highlight">#MacbookPro</strong>. It's absolutely awesome.</h4>
        <div class="divider mb-3 mt-3"></div>
        <div class="d-flex">
            <div class="me-auto">
                <a href="#" class="color-theme opacity-50">
                    <i class="bi bi-hand-thumbs-up-fill pe-2 font-11"></i>
                    Like
                    <span class="badge gradient-highlight color-theme ms-2" style="border-radius: 0.25rem;">4256</span>
                </a>
            </div>
            <div>
                <a class="color-theme opacity-50" data-bs-toggle="collapse" href="#comments-post-guid" aria-controls="comments-post-guid">
                    <i class="bi bi-chat-fill font-11 pe-2"></i>
                    Comments
                    <span class="badge gradient-highlight color-theme ms-2" style="border-radius: 0.25rem;">1821</span>
                </a>
            </div>
            <div class="ms-auto">
                <a href="#" class="color-theme opacity-50">
                    <i class="bi bi-share-fill font-10 pe-3"></i>
                    Share
                </a>
            </div>
        </div>


        <div class="collapse" id="comments-post-guid">
            <div class="divider mt-3"></div>
            <div class="mb-4">
                <div class="d-flex">
                    <div>
                        <img src="images/pictures/1s.jpg" width="40" class="rounded-m me-2">
                    </div>
                    <div>
                        <h6 class="font-12 mb-n1">Jack Son</h6>
                        <i class="bi bi-star-fill color-yellow-dark"></i>
                        <i class="bi bi-star-fill color-yellow-dark"></i>
                        <i class="bi bi-star-fill color-yellow-dark"></i>
                        <i class="bi bi-star-fill color-yellow-dark"></i>
                        <i class="bi bi-star-fill color-yellow-dark"></i>
                        <strong class="color-theme opacity-30 ps-2">5.0</strong>
                    </div>
                    <div class="ms-auto align-self-end">
                        <strong class="color-theme font-10">1 day ago</strong>
                    </div>
                </div>
                <p class="line-height-m pt-2">
                    Probably the best item I've ever worked with. The customer support is outstanding
                    and there are so many options! Highlight recommended.
                </p>
            </div>
            <div>
                <div class="d-flex">
                    <div>
                        <img src="images/pictures/2s.jpg" width="40" class="rounded-m me-2">
                    </div>
                    <div>
                        <h6 class="font-12 mb-n1">Diane Doeson</h6>
                        <i class="bi bi-star-fill color-yellow-dark"></i>
                        <i class="bi bi-star-fill color-yellow-dark"></i>
                        <i class="bi bi-star-fill color-yellow-dark"></i>
                        <i class="bi bi-star-fill color-yellow-dark"></i>
                        <i class="bi bi-star-fill color-yellow-dark"></i>
                        <strong class="color-theme opacity-30 ps-2">4.5</strong>
                    </div>
                    <div class="ms-auto align-self-end">
                        <strong class="color-theme font-10">1 day ago</strong>
                    </div>
                </div>
                <p class="line-height-m pt-2">
                    Loved every part of it. However, I had a problem while downloading
                    which really annoyed me. Everything else was perfect.
                </p>
            </div>
        </div>


    </div>
</div>

@code {

}
