
<div class="card card-style py-3">
    <div class="content px-2 text-center">
        <h5 class="mb-n1 font-12 color-highlight font-700 text-uppercase">
            @((MarkupString)Localization.Components.Cards.UploadFlowerPictureCard.Find_flowers_information)

        </h5>
        <h2>
            @((MarkupString)Localization.Components.Cards.UploadFlowerPictureCard.Upload_Picture_Now)
        </h2>
        <p class="mb-3">
            @((MarkupString)Localization.Components.Cards.UploadFlowerPictureCard.At_least_one_photo_of_leaf__flower__fruit_or_bark_is_required_for_identification_to_work_)
        </p>
        <a href="identify-flower" class="default-link btn btn-m rounded-s gradient-highlight shadow-bg shadow-bg-s px-5 mb-0 mt-2">

            @((MarkupString)Localization.Components.Cards.UploadFlowerPictureCard.Take_Picture_now)
        </a>
    </div>
</div>

@code {

}
