

<div class="alert alert-dismissible border alert-@Color shadow-bg shadow-bg-s">
    @if(Heading != null)
    {
        <h4 class="alert-heading">
            @Heading
        </h4>
        
    }
            <div class="align-self-center" style="width: 100%">
                <p class="mb-0 font-500 font-14 ps-3 pe-4 line-height-s">

                    @Content

                </p>
            </div>

</div>

@code {
    [Parameter]
    public string Color { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public RenderFragment? Heading { get; set; }

    [Parameter]
    public RenderFragment Content { get; set; }
}
