@using System.Reflection
@inherits LayoutComponentBase
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject HttpClient httpClient

<SeoHeader></SeoHeader>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.coingarden.world/" target="_blank">
                Documentation
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        <footer>
            Site version: @GetSiteVersion()
            <br />
            API version:  @APIversion
        </footer>
    </main>
</div>
@code{

    private string APIversion = "";

    protected override async Task OnInitializedAsync() {
        try
        {
            
            APIversion = await httpClient.GetStringAsync("api/version");
        }
        catch (Exception e)
        {
            APIversion = "GardenBOT API is not available, check the console for more details.";
            Console.WriteLine(e);
        }

    }
    public static string GetSiteVersion()
    {
        Version version = Assembly.GetExecutingAssembly().GetName().Version;
        return version.ToString();
    }



}