/*!
Template :	ICOCrypto @by Softnio
Theme	 :  Default
* Version	 :	2.1.0
* Updated	 :	11/22/2022
*/
/*! WRITE YOUR CUSTOM STYLE **/
.bg-theme-grad {
    background-image: linear-gradient(to bottom, #1FC511 0%, #22577a 50%, #b711c5 100%) !important;
}

/* unvisited link */
.language-switcher a {
    text-decoration: none;
    cursor: pointer;
}
