@inherits BannerBase
<!-- Banner -->
<div class="header-banner bg-theme-grad">
    <div class="nk-banner">
        <div class="banner banner-fs banner-pd-lg">
            <div class="banner-wrap">
                <div class="container">
                    <div class="row gutter-vr-30px align-items-center justify-content-lg-between justify-content-center">
                        <div class="col-lg-5 col-sm-9 order-lg-last">
                            <div class="banner-gfx-re-s3 my-0 animated" data-animate="fadeInUp" data-delay="1">
                                <img src="images/colorful_animated_picture_little_futuristic_flowers_a_multip_transparernt-600x600.png" alt="header">
                                <img class="banner-gfx-icon banner-gfx-icon-1" 
                                     src="_content/CoinGardenWorld.Theme/images/icons/icon-custom.png" alt="">
                                <img class="banner-gfx-icon banner-gfx-icon-2" src="_content/CoinGardenWorld.Theme/images/icons/icon-bitcoin.png" alt="">
                            </div>
                        </div><!-- .col -->
                        <div class="col-lg-7 col-xl-6 col-sm-10 text-center text-lg-start">
                            <div class="banner-caption cpn tc-light">
                                <div class="cpn-head">
                                    <h1 class="title title-md animated" data-animate="fadeInUp" data-delay="1.1">
                                        @((MarkupString)Title)
                                    </h1>
                                </div>
                                <div class="cpn-text cpn-text-light">
                                    <p class="lead animated" data-animate="fadeInUp" data-delay="1.2">
                                        @((MarkupString)Description)
                                    </p>
                                </div>
                                <div class="cpn-action mt-0">
                                    <div class="cpn-btns pt-4 animated" data-animate="fadeInUp" data-delay="1.3">
                                        <ul class="btn-grp">
                                            <li><a href="#" class="btn btn-primary btn-lg">Get Started</a></li>
                                            <li><a href="#" class="btn btn-outline btn-primary on-bg-theme-alt btn-lg">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div>
            </div>
        </div>
    </div><!-- .nk-banner -->
    <div class="nk-ovm mask-f mask-contain-bottom shape-a2"></div>
    <!-- Place Particle Js -->
    <div id="particles-bg" class="particles-container particles-bg"></div>
</div>
<!-- .header-banner -->

@code {

    
}
