@inherits BannerBase
<!-- Banner  -->
<div class="header-banner bg-theme-grad">
    <div class="nk-banner">
        <div class="banner banner-page">
            <div class="banner-wrap">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-9">
                            <div class="banner-caption cpn tc-light text-center">
                                <div class="cpn-head">
                                    <h2 class="title ttu animated" data-animate="fadeInUp" data-delay="1.1">
                                        @((MarkupString)Title)
                                    </h2>
                                    <p class="lead animated" data-animate="fadeInUp" data-delay="1.3">
                                        @((MarkupString)Description)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .nk-banner -->
    <div class="nk-ovm mask-f mask-contain-bottom shape-a2"></div>
    <!-- Place Particle Js -->
    <div id="particles-bg" class="particles-container particles-bg"></div>
</div>
<!-- .header-banner  -->
@code {
    
}