@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<iframe src="https://webchat.botframework.com/embed/coingardenBotCore?s=YOUR_SECRET_HERE" style="height: 502px; max-height: 502px;"></iframe>

<a href='https://www.messenger.com/t/113273648357885'><img src='https://facebook.botframework.com/Content/MessageUs.png'></a>

<a href='https://join.skype.com/bot/535a8898-78db-4fc2-ad41-131be2f17b0e'><img src='https://dev.botframework.com/Client/Images/Add-To-Skype-Buttons.png' /></a>  