@page "/about"


<!-- Your Page Content Goes Here-->
<div class="page-content header-clear-medium">

 
    <h1>Counter</h1>

    <p role="status">Current count: @currentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


</div>
<!-- End of Page Content-->

<ThemeLoader></ThemeLoader>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
