@page "/about"
@using System.Reflection
@using System.Security.Claims
@using CoinGardenWorldMobileApp.MobileAppTheme.Authorization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<TopAccountsForTheMonth> LocalizerTopAcoounts

@inject ChatHub chatHub
@inject NotificationsHub notificationsHub

@inject MobileApiHttpClient VersionHttpClient
@inject MobileApiAuthorizedHttpClient VersionAuthorizedHttpClient

@inject AuthenticationStateProvider AuthenticationStateProvider

<!-- Your Page Content Goes Here -->
<div class="page-content header-clear-medium">
    <div class="card card-style">
        <div class="content">
            <div class="d-flex">
                <div>
                    <h6 class="mb-n1 opacity-80 color-highlight">System Information</h6>
                    <h3>About the App</h3>
                </div>
            </div>
            <div class="divider mb-0 mx-3"></div>
            <div class="list-group list-custom list-group-m rounded-xs list-group-flush">
                <a href="terms-and-conditions" class="list-group-item">
                    <div>Terms &amp; Conditions</div>
                    <i class="bi bi-chevron-right"></i>
                </a>
                <a href="https://github.com/s2kdesign-com/CoinGardenWorld/releases" target="_blank" class="list-group-item">
                    <div>Site Version - @GetSiteVersion()</div>
                    <span class="badge rounded-xl bg-green-dark">OK</span>
                </a>
                @if (_apiIsAvailable)
                {
                    <a href="@_apiSwaggerUrl" target="_blank" class="list-group-item">
                        <div>API Version - @_testConnectedApiUrl</div>
                        <span class="badge rounded-xl bg-green-dark">OK</span>
                    </a>
                }
                else
                {
                    <a href="@_apiSwaggerUrl" target="_blank" class="list-group-item">
                        <div>API Version - Connection is Broken</div>
                        <span class="badge rounded-xl bg-red-dark">ERROR</span>
                    </a>
                }
            </div>

        </div>
    </div>
    @if (_isUserAuthenticated)
    {
        <CardAlert Color="green" Icon="bi-check-circle-fill">
            <Content>
                You are Authenticated!
                <br>
                Current roles:

                <ul class="list-group ms-3">
                    @foreach (var userRole in _userRoles)
                    {
                        
                        <li class="color-theme">
                           @userRole
                        </li>
                    }

                </ul>
            </Content>
        </CardAlert>
    }
    else
    {

        <CardAlert Color="yellow" Icon="bi-exclamation-triangle">
            <Content>
                You are not Authorized! 
                <br>
                <a href="authentication/login" class="mx-auto pt-3 d-block text-center font-13 color-theme font-700">
                  
                    Login to the App here
                    <i class="bi bi-arrow-right ps-3"></i>
                </a>
            </Content>
        </CardAlert>

    }
    @if (_apiIsAvailable)
    {
        @if (_isApiAuthenticated)
        {
            <CardAlert Color
            ="green" Icon
            ="bi-check-circle-fill">
                <Content>
                    Mobile API connection is Authenticated!
                    <br>
                    @_testAuthenticatedConnectedApiUrl
                </Content>
            </CardAlert>
        }
        else
        {
            <CardAlert Color="yellow" Icon="bi-exclamation-triangle">
                <Content>
                    Mobile API connection is not Authenticated!
                    <br>
                </Content>
            </CardAlert>

        }

    }
    else
    {
        // _apiIsAvailable FALSE
        <CardAlert Color="red" Icon="bi-exclamation-triangle">
            <Content>
                Mobile API connection is broken!
                <br>
            </Content>
        </CardAlert>
    }


    @if (chatHub.IsHubConnected)
    {

        <CardAlert Color="green" Icon="bi-check-circle-fill">
            <Content>
                RealTime connection to ChatHub is established.
                <br>
                @_chatHubConnectedMessage

            </Content>
        </CardAlert>

    }
    else
    {


        <CardAlert Color="yellow" Icon="bi-exclamation-triangle">
            <Content>
                RealTime connection to ChatHub is not Authenticated!
                <br>
            </Content>
        </CardAlert>

    }

    @if (notificationsHub.IsHubConnected)
    {

        <CardAlert Color="green" Icon="bi-check-circle-fill">
            <Content>
                RealTime connection to NotificationsHub is established.
                <br>
            </Content>
        </CardAlert>
    }
    else
    {
        <CardAlert Color="yellow" Icon="bi-exclamation-triangle">
            <Content>
                RealTime connection to NotificationsHub is not Authorized!
                <br>
            </Content>
        </CardAlert>

    }
</div>
<!-- End of Page Content-->
<ThemeLoader></ThemeLoader>
@code {
    private DateTime dt = DateTime.Now;

    private bool _apiIsAvailable = false;

    private bool _isApiAuthenticated = false;
    private bool _isUserAuthenticated = false;
    private List<string> _userRoles = new List<string>();

    private string _apiSwaggerUrl = "#";

    private string _testConnectedApiUrl = "API connection is not available.";
    private string _testAuthenticatedConnectedApiUrl = "Authenticated API connection is not available.";

    private string _chatHubConnectedMessage;


    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            chatHub.NotifyStateChanged += () =>
            {
                InvokeAsync(StateHasChanged);
            };
            chatHub.OnUserConnected += (message) =>
            {
                _chatHubConnectedMessage = message;
                InvokeAsync(StateHasChanged);
            };
            notificationsHub.NotifyStateChanged += () =>
            {
                InvokeAsync(StateHasChanged);
            };

        }


        return base.OnAfterRenderAsync(firstRender);
    }

    protected override async Task OnInitializedAsync()
    {

        if (chatHub.HubConnection != null)
        {
            
            await chatHub.HubConnection.SendAsync("AfterConnected");
        }
        _apiSwaggerUrl = VersionHttpClient.BaseAddress + "/swagger/index.html";

        try
        {
            var response = await VersionHttpClient.MobileApi.VersionAsync();
            _apiIsAvailable = true;
            _testConnectedApiUrl = response.Message;

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }


        var authState = await (AuthenticationStateProvider).GetAuthenticationStateAsync();

        if (authState.User.Identity != null && authState.User.Identity.IsAuthenticated)
        {
            _isUserAuthenticated = true;

            var translatedRoles = new List<string>();
            foreach (var role in authState.User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value))
            {
                translatedRoles.Add(LocalizerTopAcoounts.GetString(role));
            }
            _userRoles = translatedRoles;

            // Test Mobile API with Authorization

            try
            {
                var authResult = await VersionAuthorizedHttpClient.MobileApi.GetAuthorizedAsync();
                _isApiAuthenticated = true;
                _testAuthenticatedConnectedApiUrl = authResult.Message;

            }
            catch (Exception e)
            {
                Console.WriteLine(e);
            }
        }



    }

    public static string GetSiteVersion()
    {
        Version version = Assembly.GetEntryAssembly()?.GetName().Version ?? new Version(1, 0, 0);
        return version.ToString();
    }
}
