@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication




<div class="card card-style">
    <div class="content UTILITY_SPACING">
        
        <RemoteAuthenticatorView Action="@Action" />
    </div>
</div>


<ThemeLoader></ThemeLoader>
@code {
    [Parameter] public string? Action { get; set; }
}
