@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication



<!-- Your Page Content Goes Here-->
<div class="page-content header-clear-medium">

    
    <div class="card card-style">
        <div class="content UTILITY_SPACING">
        
            <RemoteAuthenticatorView Action="@Action" />
        </div>
    </div>

</div>
<!-- End of Page Content-->


<ThemeLoader></ThemeLoader>
@code {
    [Parameter] public string? Action { get; set; }
}
