@* @page "/terms-and-conditions" *@

@attribute [Route(NavigationLinks.CHARITIES_URL)]
<!-- Your Page Content Goes Here-->
<div class="page-content header-clear-medium">
    
    <div class="card card-style">
        <div class="content mb-0">
            <h5 class="color-highlight font-13 mb-n1">
                Help us clear the nature
            </h5>
            <h1 class="font-700 pb-0">
                Charities
            </h1>
            <p class="mb-3">
                We're looking for passionate developers to join our team. Got what it takes? Send us a message.
            </p>
        </div>
    </div>

    @for (int i = 0; i < 5; i++)
    {
        
        <div class="card card-style">
            <div class="card card-style mx-0 shadow-card shadow-card-l rounded-0 mb-2" style="background-image:url('./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/coingarden/flower_growing_in_each_step_of_the_grow.png'); height:150px;">
                <div class="card-top p-3">
                    <a href="#" class="btn btn-xs bg-white color-black font-700 font-11 float-end">Apply Now</a>
                </div>
                <div class="card-bottom p-3 pb-2">
                    <div class="d-flex">
                        <div>
                            <span class="text-dark font-12 pe-3">
                                <i class="bi bi-geo-alt-fill pe-2"></i>
                                Plovdiv, Bulgaria
                                </span>
                        </div>
                        <div class="ms-auto">
                            <span class="text-dark font-12"><i class="bi bi-clock-fill pe-2"></i>Full Time</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content mt-2">
                <h5 class="color-highlight font-12 mb-n1">Remote - Full Time</h5>
                <h4>Polluted Forest</h4>
                <p>
                    Google Play is your home? You're the candidate we've been looking for.
                </p>
            </div>
        </div>
    }


</div>
<!-- End of Page Content-->

<ThemeLoader></ThemeLoader>

@code {

}
