@* @page "/chat-list" *@
@attribute [Route(NavigationLinks.CHAT_LIST_URL)]

<!-- Your Page Content Goes Here-->
<div class="page-content header-clear-medium">

    <div class="card card-style">
        <div class="content m-2 p-1">
            <div class="d-flex">
                <div class="align-self-center">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/3s.jpg" width="50" class="rounded-s me-2">
                </div>
                <div class="align-self-center ps-1">
                    <h5 class="mb-n1">
                        Svetlin Krastanov
                    </h5>
                    <p class="font-12">
                        Just building chat pages...
                    </p>
                </div>
                <div class="align-self-center ms-auto">
                    <a href="#" data-bs-toggle="offcanvas" data-bs-target="#menu-new-message">
                        <span class="icon icon-xs rounded-s gradient-highlight shadow-bg shadow-bg-xs">
                            <i class="bi bi-pencil-square font-16 color-white"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-style">
        <div class="content m-0">
            <div class="d-flex px-3">
                <div>
                    <h5 class="pb-1 pt-3 font-13">Recent Chats</h5>
                </div>
                <div class="ms-auto">
                    <h5 class="ps-3 pb-1 pt-3 font-13 color-highlight">3 Unread Messages</h5>
                </div>
            </div>
            <div class="divider mb-0 mt-2"></div>
            <div class="list-group list-custom list-group-m rounded-l">
                <a href="chat-messages" class="list-group-item border-top-0 border-start-0 border-end-0">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/2s.jpg" width="40" class="me-2 rounded-s">
                    <i class="bi bi-circle-fill font-10 ps-4 ms-2 mt-3 pt-1 position-absolute color-green-dark"></i>
                    <div class="ps-1">
                        <strong class="font-600">John Doe</strong>
                        <span class="opacity-90">Hey, how are you? Long time no chat!</span>
                    </div>
                    <p class="font-10 font-500 color-theme text-end ms-auto line-height-xs align-self-start pt-2">
                        just now
                    </p>
                </a>
                <a href="chat-messages" class="list-group-item">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/7s.jpg" width="40" class="me-2 rounded-s">
                    <i class="bi bi-circle-fill font-10 ps-4 ms-2 mt-3 pt-1 position-absolute color-yellow-dark"></i>
                    <div class="ps-1">
                        <strong class="font-600">Karla Black</strong>
                        <span class="opacity-90">Sure! Catch you later! 👋</span>
                    </div>
                    <p class="font-10 font-500 color-theme text-end ms-auto line-height-xs align-self-start pt-2">
                        25m ago
                    </p>
                </a>
                <a href="chat-messages" class="list-group-item">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/23s.jpg" width="40" class="me-2 rounded-s">
                    <i class="bi bi-circle-fill font-10 ps-4 ms-2 mt-3 pt-1 position-absolute color-red-dark"></i>
                    <div class="ps-1">
                        <strong class="font-600">Gamer Girl</strong>
                        <span class="opacity-90">Be right back. Playing Minecraft! 🙋🏻‍♂️</span>
                    </div>
                    <p class="font-10 font-500 color-theme text-end ms-auto line-height-xs align-self-start pt-2">
                        3h ago
                    </p>
                </a>
                <a href="chat-messages" class="list-group-item border-top-0 border-start-0 border-end-0">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/2s.jpg" width="40" class="me-2 rounded-s">
                    <i class="bi bi-circle-fill font-10 ps-4 ms-2 mt-3 pt-1 position-absolute color-green-dark"></i>
                    <div class="ps-1">
                        <strong class="font-600">John Doe</strong>
                        <span class="opacity-90">Hey, how are you? Long time no chat!</span>
                    </div>
                    <p class="font-10 font-500 color-theme text-end ms-auto line-height-xs align-self-start pt-2">
                        just now
                    </p>
                </a>
                <a href="chat-messages" class="list-group-item">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/7s.jpg" width="40" class="me-2 rounded-s">
                    <i class="bi bi-circle-fill font-10 ps-4 ms-2 mt-3 pt-1 position-absolute color-yellow-dark"></i>
                    <div class="ps-1">
                        <strong class="font-600">Karla Black</strong>
                        <span class="opacity-90">Sure! Catch you later! 👋</span>
                    </div>
                    <p class="font-10 font-500 color-theme text-end ms-auto line-height-xs align-self-start pt-2">
                        25m ago
                    </p>
                </a>
                <a href="chat-messages" class="list-group-item">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/23s.jpg" width="40" class="me-2 rounded-s">
                    <i class="bi bi-circle-fill font-10 ps-4 ms-2 mt-3 pt-1 position-absolute color-red-dark"></i>
                    <div class="ps-1">
                        <strong class="font-600">Gamer Girl</strong>
                        <span class="opacity-90">Be right back. Playing Minecraft! 🙋🏻‍♂️</span>
                    </div>
                    <p class="font-10 font-500 color-theme text-end ms-auto line-height-xs align-self-start pt-2">
                        3h ago
                    </p>
                </a>
                <a href="chat-messages" class="list-group-item border-top-0 border-start-0 border-end-0">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/2s.jpg" width="40" class="me-2 rounded-s">
                    <i class="bi bi-circle-fill font-10 ps-4 ms-2 mt-3 pt-1 position-absolute color-green-dark"></i>
                    <div class="ps-1">
                        <strong class="font-600">John Doe</strong>
                        <span class="opacity-90">Hey, how are you? Long time no chat!</span>
                    </div>
                    <p class="font-10 font-500 color-theme text-end ms-auto line-height-xs align-self-start pt-2">
                        just now
                    </p>
                </a>
                <a href="chat-messages" class="list-group-item">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/7s.jpg" width="40" class="me-2 rounded-s">
                    <i class="bi bi-circle-fill font-10 ps-4 ms-2 mt-3 pt-1 position-absolute color-yellow-dark"></i>
                    <div class="ps-1">
                        <strong class="font-600">Karla Black</strong>
                        <span class="opacity-90">Sure! Catch you later! 👋</span>
                    </div>
                    <p class="font-10 font-500 color-theme text-end ms-auto line-height-xs align-self-start pt-2">
                        25m ago
                    </p>
                </a>
                <a href="chat-messages" class="list-group-item">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/23s.jpg" width="40" class="me-2 rounded-s">
                    <i class="bi bi-circle-fill font-10 ps-4 ms-2 mt-3 pt-1 position-absolute color-red-dark"></i>
                    <div class="ps-1">
                        <strong class="font-600">Gamer Girl</strong>
                        <span class="opacity-90">Be right back. Playing Minecraft! 🙋🏻‍♂️</span>
                    </div>
                    <p class="font-10 font-500 color-theme text-end ms-auto line-height-xs align-self-start pt-2">
                        3h ago
                    </p>
                </a>
                <a href="chat-messages" class="list-group-item border-top-0 border-start-0 border-end-0">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/2s.jpg" width="40" class="me-2 rounded-s">
                    <i class="bi bi-circle-fill font-10 ps-4 ms-2 mt-3 pt-1 position-absolute color-green-dark"></i>
                    <div class="ps-1">
                        <strong class="font-600">John Doe</strong>
                        <span class="opacity-90">Hey, how are you? Long time no chat!</span>
                    </div>
                    <p class="font-10 font-500 color-theme text-end ms-auto line-height-xs align-self-start pt-2">
                        just now
                    </p>
                </a>
                <a href="chat-messages" class="list-group-item">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/7s.jpg" width="40" class="me-2 rounded-s">
                    <i class="bi bi-circle-fill font-10 ps-4 ms-2 mt-3 pt-1 position-absolute color-yellow-dark"></i>
                    <div class="ps-1">
                        <strong class="font-600">Karla Black</strong>
                        <span class="opacity-90">Sure! Catch you later! 👋</span>
                    </div>
                    <p class="font-10 font-500 color-theme text-end ms-auto line-height-xs align-self-start pt-2">
                        25m ago
                    </p>
                </a>
                <a href="chat-messages" class="list-group-item">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/23s.jpg" width="40" class="me-2 rounded-s">
                    <i class="bi bi-circle-fill font-10 ps-4 ms-2 mt-3 pt-1 position-absolute color-red-dark"></i>
                    <div class="ps-1">
                        <strong class="font-600">Gamer Girl</strong>
                        <span class="opacity-90">Be right back. Playing Minecraft! 🙋🏻‍♂️</span>
                    </div>
                    <p class="font-10 font-500 color-theme text-end ms-auto line-height-xs align-self-start pt-2">
                        3h ago
                    </p>
                </a>
            </div>
        </div>
    </div>


</div>
<!-- End of Page Content-->
<!-- Menu New Message-->
<div id="menu-new-message" style="height:410px" class="offcanvas offcanvas-bottom offcanvas-detached rounded-m bg-theme">
    <div class="content">
        <div class="d-flex pb-2">
            <div class="align-self-center">
                <h5 class="mb-n1 font-12 color-highlight font-700 text-uppercase pt-1">Just tap and</h5>
                <h1 class="font-700">New Message</h1>
            </div>
            <div class="align-self-center ms-auto">
                <a href="#" data-bs-dismiss="offcanvas" class="icon icon-m"><i class="bi bi-x-circle-fill color-red-dark font-18 me-n4"></i></a>
            </div>
        </div>
        <div class="form-custom form-label mb-3 mt-3">
            <input type="text" class="form-control rounded-xs" id="c1" placeholder="John Doe" pattern="[A-Za-z ]{1,32}" required />
            <div class="valid-feedback">Excellent!<!-- text for field valid--></div>
            <div class="invalid-feedback">Name is Missing or Invalid</div>
            <span>(required)</span>
        </div>
        <div class="form-custom form-label mb-3">
            <textarea class="form-control rounded-xs" placeholder="Leave a comment here" id="c7" style="min-height:150px;"></textarea>
            <div class="valid-feedback">HTML5 does not offer Dates Field Validation!<!-- text for field valid--></div>
        </div>
        <a href="#" class="btn btn-full btn-m rounded-sm gradient-highlight shadow-bg shadow-bg-xs px-5 mb-0 mt-4">Send Message</a>
    </div>
</div>
<ThemeLoader></ThemeLoader>
@code {

}
