@* @page "/dashboard" *@

@attribute [Route(NavigationLinks.DASHBOARD_URL)]

<!-- Your Page Content Goes Here-->
<div class="page-content header-clear-medium">
    
    <DashboardCardText></DashboardCardText>

    <DashboardCardText></DashboardCardText>

    <DashboardCardImage></DashboardCardImage>

    <DashboardCardText></DashboardCardText>

    <DashboardCardText></DashboardCardText>

    <DashboardCardImage></DashboardCardImage>
    
    <div class="col-12 pb-4">
        <div class="d-flex justify-content-center">
            <div class="preloader-m">
                <div class="spinner-border color-highlight" style="border-width: 3px;" role="status"></div>
            </div>
        </div>
    </div>
</div>
<!-- End of Page Content-->
<ThemeLoader></ThemeLoader>

@code {

}
