@using PostDto = CoinGardenWorld.HttpClientsExtensions.PostDto

@* @page "/dashboard" *@

@attribute [Route(NavigationLinks.DASHBOARD_URL)]


@inject MobileApiAuthorizedHttpClient MobileApiAuthorizedHttpClient
@inject MobileApiHttpClient MobileApiHttpClient

@inject ILogger<Dashboard> Logger
@inject AuthenticationStateProvider AuthStateProvider

<!-- Your Page Content Goes Here-->
<div class="page-content header-clear-medium">
   @*  
    <DashboardCardText></DashboardCardText>

    <DashboardCardText></DashboardCardText>

    <DashboardCardImage></DashboardCardImage>

    <DashboardCardText></DashboardCardText>

    <DashboardCardText></DashboardCardText>

    <DashboardCardImage></DashboardCardImage> 
    *@
    
    @if (_latestPosts.Any())
    {
        @foreach (var post in _latestPosts)
        {
            <DashboardCardImage></DashboardCardImage>

        }

    }
    else
    {
        
        <!-- TODO: Add some kind of preloader -->
    }

   <div class="card card-style">
       <div class="content">
           <div class="responsive-iframe rounded-s">
                <iframe class="rounded-s" src="https://www.youtube.com/embed/ysIJUA8xF3A" frameborder="0" allowfullscreen="" name=""></iframe>
           </div>
           <h3 class="mt-3">YouTube</h3>
           <p> Just copy the link to the service you want and add it inside a responsive-iframe div. We'll do the rest.
           </p></div>
   </div>
   
   <div class="card card-style">
       <div class="content">
           <div class="responsive-iframe rounded-s">
                <iframe class="rounded-s" src="https://www.youtube.com/embed/ekp_64XO16k" frameborder="0" allowfullscreen="" name=""></iframe>
           </div>
           <h3 class="mt-3">YouTube</h3>
           <p> Just copy the link to the service you want and add it inside a responsive-iframe div. We'll do the rest.
           </p></div>
   </div>
    <div class="col-12 pb-4">
        <div class="d-flex justify-content-center">
            <div class="preloader-m">
                <div class="spinner-border color-highlight" style="border-width: 3px;" role="status"></div>
            </div>
        </div>
    </div>
</div>
<!-- End of Page Content-->
<ThemeLoader></ThemeLoader>

@code {
    // TODO: 
    private List<PostDto> _latestPosts = new List<PostDto>();

    protected override async Task OnInitializedAsync()
    {

        try
        {
            var userAuth = await AuthStateProvider.GetAuthenticationStateAsync();

            if(userAuth.User.Identity != null && userAuth.User.Identity.IsAuthenticated)
            {
                var latestPosts = await MobileApiAuthorizedHttpClient.MobileApi.PostsAllAsync(null, null, null, null, 10, null);
                _latestPosts = latestPosts.ToList();
                StateHasChanged();

            }
            else
            {
    // TODO: Get Public Most viewed posts

                var latestPosts = await MobileApiHttpClient.MobileApi.GetPublicPostsAsync(null, null, null, null, 10, null);
                _latestPosts = latestPosts.ToList();
                StateHasChanged();
            }

        }
        catch (Exception e)
        {
            Logger.LogError(e.Message);
        }

        await base.OnInitializedAsync();
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            
        }

    }
}
