@* @page "/dashboard" *@

@attribute [Route(NavigationLinks.DASHBOARD_URL)]

<!-- Your Page Content Goes Here-->
<div class="page-content header-clear-medium">
    

	<div class="card card-style">
		<div class="content">
			<h4 class="font-17 font-800">Went shopping today at <strong class="color-highlight">Apple</strong>. Got the latest <strong class="color-highlight">#MacbookPro</strong>. It's absolutely awesome.</h4>
			<div class="divider mb-3 mt-3"></div>
			<div class="d-flex">
				<div class="me-auto"><a href="#" class="color-theme opacity-50"><i class="bi bi-hand-thumbs-up-fill pe-2 font-11"></i>Like</a></div>
				<div><a href="#" class="color-theme opacity-50"><i class="bi bi-chat-fill font-11 pe-2"></i>Comment</a></div>
				<div class="ms-auto"><a href="#" class="color-theme opacity-50"><i class="bi bi-share-fill font-10 pe-3"></i>Share</a></div>
			</div>
		</div>
	</div>
	
    <div class="card card-style">
        <div class="content">
            <h4 class="font-17 font-800">Went shopping today at <strong class="color-highlight">Apple</strong>. Got the latest <strong class="color-highlight">#MacbookPro</strong>. It's absolutely awesome.</h4>
            <div class="divider mb-3 mt-3"></div>
            <div class="d-flex">
                <div class="me-auto"><a href="#" class="color-theme opacity-50"><i class="bi bi-hand-thumbs-up-fill pe-2 font-11"></i>Like</a></div>
                <div><a href="#" class="color-theme opacity-50"><i class="bi bi-chat-fill font-11 pe-2"></i>Comment</a></div>
                <div class="ms-auto"><a href="#" class="color-theme opacity-50"><i class="bi bi-share-fill font-10 pe-3"></i>Share</a></div>
            </div>
        </div>
    </div>


	<div class="card card-style">
		<img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/3w.jpg" class="img-fluid">
		<div class="content">
			<h4 class="font-19 font-800">Future Proof</h4>
			<p class="mt-0 mb-3">
				Duo is built using Bootstrap 5 and Vanilla Javascript. It's future proof for your projects.
			</p>
			<div class="divider mb-3"></div>
			<div class="d-flex">
				<div class="me-auto"><a href="#" class="color-theme opacity-50"><i class="bi bi-hand-thumbs-up-fill pe-2 font-11"></i>Like</a></div>
				<div><a href="#" class="color-theme opacity-50"><i class="bi bi-chat-fill font-11 pe-2"></i>Comment</a></div>
				<div class="ms-auto"><a href="#" class="color-theme opacity-50"><i class="bi bi-share-fill font-10 pe-3"></i>Share</a></div>
			</div>
		</div>
	</div>
	
    <div class="card card-style">
        <div class="content">
            <h4 class="font-17 font-800">Went shopping today at <strong class="color-highlight">Apple</strong>. Got the latest <strong class="color-highlight">#MacbookPro</strong>. It's absolutely awesome.</h4>
            <div class="divider mb-3 mt-3"></div>
            <div class="d-flex">
                <div class="me-auto"><a href="#" class="color-theme opacity-50"><i class="bi bi-hand-thumbs-up-fill pe-2 font-11"></i>Like</a></div>
                <div><a href="#" class="color-theme opacity-50"><i class="bi bi-chat-fill font-11 pe-2"></i>Comment</a></div>
                <div class="ms-auto"><a href="#" class="color-theme opacity-50"><i class="bi bi-share-fill font-10 pe-3"></i>Share</a></div>
            </div>
        </div>
    </div>

	

    <div class="card card-style">
        <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/3w.jpg" class="img-fluid">
        <div class="content">
            <h4 class="font-19 font-800">Future Proof</h4>
            <p class="mt-0 mb-3">
                Duo is built using Bootstrap 5 and Vanilla Javascript. It's future proof for your projects.
            </p>
            <div class="divider mb-3"></div>
            <div class="d-flex">
                <div class="me-auto"><a href="#" class="color-theme opacity-50"><i class="bi bi-hand-thumbs-up-fill pe-2 font-11"></i>Like</a></div>
                <div><a href="#" class="color-theme opacity-50"><i class="bi bi-chat-fill font-11 pe-2"></i>Comment</a></div>
                <div class="ms-auto"><a href="#" class="color-theme opacity-50"><i class="bi bi-share-fill font-10 pe-3"></i>Share</a></div>
            </div>
        </div>
    </div>


    <div class="card card-style">
        <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/3w.jpg" class="img-fluid">
        <div class="content">
            <h4 class="font-19 font-800">Future Proof</h4>
            <p class="mt-0 mb-3">
                Duo is built using Bootstrap 5 and Vanilla Javascript. It's future proof for your projects.
            </p>
            <div class="divider mb-3"></div>
            <div class="d-flex">
                <div class="me-auto"><a href="#" class="color-theme opacity-50"><i class="bi bi-hand-thumbs-up-fill pe-2 font-11"></i>Like</a></div>
                <div><a href="#" class="color-theme opacity-50"><i class="bi bi-chat-fill font-11 pe-2"></i>Comment</a></div>
                <div class="ms-auto"><a href="#" class="color-theme opacity-50"><i class="bi bi-share-fill font-10 pe-3"></i>Share</a></div>
            </div>
        </div>
    </div>


    <div class="card card-style">
        <div class="content">
            <h6 class="font-700 mb-n1 color-highlight">Motivational</h6>
            <h1 class="pb-2">Quotes</h1>
            <p>
                A great quote tells a million stories. Add a beautiful design to it and it's an even better story.
            </p>
            <ul class="mb-0 ps-3">
                <li>Card Designed</li>
                <li>Single Liners</li>
                <li>Icons and Images</li>
            </ul>
        </div>
    </div>


    <div data-card-height="300" class="card card-style bg-23">
        <div class="card-center">
            <p class="color-white text-center pt-4">
                <i class="bi bi-chat-square-quote-fill font-40 color-white"></i>
            </p>
            <h1 class="color-white text-center font-700">
                Beautiful things take
                <br>
                time and perseverance
            </h1>
            <p class="color-white text-center pt-4">Jack Hat - Professional Dancer</p>
        </div>
        <div class="card-overlay bg-black opacity-70"></div>
    </div>

    <div data-card-height="300" class="card card-style bg-2">
        <div class="card-center">
            <h6 class="color-white text-center font-21 font-300 line-height-xl pe-3 ps-3 mb-0">
                Very happy with this purchase! The team and support are highly professional! The replies are instant and accurate!
            </h6>
        </div>
        <div class="card-overlay bg-black opacity-80"></div>
    </div>
</div>
<!-- End of Page Content-->
<ThemeLoader></ThemeLoader>

@code {

}
