@attribute [RouteAttribute(NavigationLinks.IDENTIFY_FLOWER_URL)]

@using Microsoft.Extensions.Configuration

@inject IConfiguration Configuration


<!-- Your Page Content Goes Here-->
<div class="page-content header-clear-medium">

    <div class="card card-style">
        <div class="content mb-0">
            <h5 class="color-highlight font-13 mb-n1">
                AI Recognition 
            </h5>
            <h1 class="font-700 pb-0">
                Identify Flowers
            </h1>
            <p class="mb-3">
                Upload image to recognize or use our GardenBOT to find all you need about flowers
            </p>
        </div>
    </div>

    <div class="card card-style">
        <div class="content">
            <h6 class="font-700 mb-n1 color-highlight">Image Processing</h6>
            <h1 class="pb-2">Picture Upload</h1>
            <p>
                Upload picture of flower to get all needed information about the flower name and how to properly care for it.
            </p>
            <ul class="ps-3">
                <li>Caption text - What our AI Recognize on the picture</li>
                <li>Category - Base category for the recognized picture</li>
                <li>Confidence - With how much confidence our AI recognized the image (from 0 to 1)</li>
            </ul>
            <div class="divider mb-0"></div>
            <div class="file-data">
                <img id="image-data" src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" class="img-fluid rounded-s" alt="img">
                <span class="upload-file-name d-block text-center"
                      data-text-before="<i class='bi bi-check-circle-fill color-green-dark pe-2'></i> Image:"
                      data-text-after=" is ready.">
                </span>
                <div>
                    <input type="file" class="upload-file" accept="image/*">
                    <p class="btn btn-full btn-m text-uppercase font-700 rounded-s upload-file-text bg-highlight">Upload Image</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-style">
        <div class="content">
            <h6 class="font-700 mb-n1 color-highlight">You need More Information?</h6>
            <h1 class="pb-2">Chat with GardenBOT</h1>
            <p>
                Our GardenBOT is always online to answer all of your questions and recognize images or give you more information about anything about flowers.
            </p>
           
            <iframe src="@webchatUrl" style="height: 502px; max-height: 502px; width: 100%;"></iframe>
        </div>
    </div>

</div>
<!-- End of Page Content-->

<ThemeLoader></ThemeLoader>
@code {
    private string webchatUrl;

    protected override void OnInitialized() {
        base.OnInitialized();
        webchatUrl = $"https://webchat.botframework.com/embed/coingardenBotCore?s={Configuration["BotFramework:WebChatSecret"]}";
    }
}
