@page "/"
<PageTitle>Index</PageTitle>



	<div class="splide single-slider slider-no-dots slider-no-arrows slider-boxed text-center mt-n2" id="single-slider-3">
		<div class="splide__track">
			<div class="splide__list">
				<div class="splide__slide">
					<div class="card card-style mx-0 shadow-card shadow-card-m bg-14" data-card-height="230">
						<div class="card-bottom pb-3 px-3">
							<h3 class="color-white mb-1">Meet Duo 3.0</h3>
							<p class="color-white opacity-80 mb-0 mt-n1 font-14">Duo is now Better than Ever!</p>
						</div>
						<div class="card-overlay bg-gradient-fade"></div>
					</div>
				</div>
				<div class="splide__slide">
					<div class="card card-style mx-0 shadow-card shadow-card-m bg-2" data-card-height="230">
						<div class="card-bottom pb-3 px-3">
							<h3 class="color-white mb-1">PWA Ready</h3>
							<p class="color-white opacity-80 mb-0 mt-n1 font-14">Just install it to your Home Screen.</p>
						</div>
						<div class="card-overlay bg-gradient-fade"></div>
					</div>
				</div>
				<div class="splide__slide">
					<div class="card card-style mx-0 shadow-card shadow-card-m bg-7" data-card-height="230">
						<div class="card-bottom pb-3 px-3">
							<h3 class="color-white mb-0">Bootstrap 5, Vanilla JS</h3>
							<p class="color-white opacity-80 mb-0 mt-n1">No jQuery Dependency. Fast and Clean</p>
						</div>
						<div class="card-overlay bg-gradient-fade"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card card-style">
		<div class="card-body text-center">
			<h5 class="mb-n1 font-12 color-highlight font-700 text-uppercase pt-1">The Future is Now</h5>
			<h2>Powerful Features</h2>
			<p class="mb-3">
				Duo brings best in class features for your website. Speed and flexibility plus ease of use.
			</p>
			<div class="row mb-n3 pt-4">
				<div class="col-6">
					<i class="bi bi-lightning-charge color-yellow-dark font-50 d-block pb-2"></i>
					<h5 class="pt-2">Lightning Fast</h5>
					<p>
						Ready when you are. Tap and enjoy.
					</p>
				</div>
				<div class="col-6">
					<i class="bi bi-award color-red-light font-50 d-block pb-2"></i>
					<h5 class="pt-2">Best Support</h5>
					<p>
						We treat others like we want to be treated.
					</p>
				</div>
				<div class="col-6">
					<i class="bi bi-phone color-gray-dark font-50 d-block pb-2"></i>
					<h5 class="pt-2">PWA Ready</h5>
					<p>
						Add it to your home screen and enjoy.
					</p>
				</div>
				<div class="col-6">
					<i class="bi bi-code-slash color-green-light font-50 d-block pb-2"></i>
					<h5 class="pt-2">Bootstrap 5</h5>
					<p>
						Vanilla JavaScript, no jQuery Dependency.
					</p>
				</div>
			</div>
		</div>
	</div>


	<div class="card card-style bg-14 text-center shadow-card shadow-card-l" data-card-height="340">
		<div class="card-center">
			<h1 class="color-white mb-0">35k+ Happy Customers</h1>
			<p class="color-white opacity-60 mb-2">No stone left unturned, no aspect overlooked!</p>
			<p class="text-center color-yellow-dark py-2 mb-2">
				<i class="bi bi-star-fill color-yellow-light font-20"></i>
				<i class="bi bi-star-fill color-yellow-light font-24 px-1"></i>
				<i class="bi bi-star-fill color-yellow-light font-28 px-1"></i>
				<i class="bi bi-star-fill color-yellow-light font-24 px-1"></i>
				<i class="bi bi-star-fill color-yellow-light font-20"></i>
			</p>
			<div class="splide single-slider slider-no-arrows slider-no-dots" id="single-slider-quotes">
				<div class="splide__track">
					<div class="splide__list">
						<div class="splide__slide">
							<p class="font-16 font-400 color-white line-height-xl mx-4 mb-0">
								The best support I have ever had, it's so good I purchased another template. Highlighy Recommended.
								<br>
								<a href="#" class="pt-4 color-highlight font-13 mb-0">Envato Customer</a>
							</p>
						</div>
						<div class="splide__slide">
							<p class="font-16 font-400 color-white line-height-xl mx-4 mb-0">
								The code is always great with any Enabled template, but it's the customer support that wins me over.<br>
								<a href="#" class="pt-4 color-highlight font-13 mb-0">Envato Customer</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card-overlay bg-black opacity-70"></div>
	</div>

	<div class="card card-style">
		<div class="content px-2 text-center">
			<h5 class="mb-n1 font-12 color-highlight font-700 text-uppercase">Things we do</h5>
			<h2>Featured Projects</h2>
			<p class="mb-3">
				Products we are proud to showcase and show off to the world. We think you'll love them!
			</p>
			<div class="row text-center row-cols-3 mb-n1">
				<a class="col p-1" data-gallery="gallery-1" href="images/pictures/7t.jpg" title="Vynil and Typerwritter">
					<img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/7s.jpg" class="preload-img img-fluid rounded-m" alt="img">
				</a>
				<a class="col p-1" data-gallery="gallery-1" href="images/pictures/23t.jpg" title="Cream Cookie">
					<img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/23s.jpg" class="preload-img img-fluid rounded-m" alt="img">
				</a>
				<a class="col p-1" data-gallery="gallery-1" href="images/pictures/3t.jpg" title="Cookies and Flowers">
					<img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/3s.jpg" class="preload-img img-fluid rounded-m" alt="img">
				</a>
				<a class="col p-1" data-gallery="gallery-1" href="images/pictures/11t.jpg" title="Vynil and Typerwritter">
					<img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/11s.jpg" class="preload-img img-fluid rounded-m" alt="img">
				</a>
				<a class="col p-1" data-gallery="gallery-1" href="images/pictures/5t.jpg" title="Cream Cookie">
					<img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/5s.jpg" class="preload-img img-fluid rounded-m" alt="img">
				</a>
				<a class="col p-1" data-gallery="gallery-1" href="images/pictures/15t.jpg" title="Cookies and Flowers">
					<img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/14s.jpg" class="preload-img img-fluid rounded-m" alt="img">
				</a>
			</div>
		</div>
	</div>

	<div class="card card-style py-3">
		<div class="content px-2 text-center">
			<h5 class="mb-n1 font-12 color-highlight font-700 text-uppercase">Time to Go Mobile</h5>
			<h2>Get Duo Mobile Today</h2>
			<p class="mb-3">
				Start your next project with Duo and enjoy the power of a Progressive Web App.
			</p>
			<a href="https://1.envato.market/2ryjKA" target="_blank" class="default-link btn btn-m rounded-s gradient-highlight shadow-bg shadow-bg-s px-5 mb-0 mt-2">Get Duo Now</a>
		</div>
	</div>

	<ThemeLoader></ThemeLoader>
@code
{
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		
	}

}