@page "/notifications"

<!-- Your Page Content Goes Here-->
<div class="page-content header-clear-medium">

	<div class="card card-style">
		<div class="content mt-2 mx-2 px-1 pt-1">
			<div class="d-flex">
				<div class="align-self-center">
					<div>
						<img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/23s.jpg" class="rounded-s" width="40">
						<i class="ri-checkbox-circle-fill color-blue-dark"></i>
					</div>
				</div>
				<div class="align-self-center">
					<h4 class="font-14 mb-n1 ps-3">Gamer Girl <span class="opacity-40 font-400 font-12 px-1 d-inline-block"> followed you.</span></h4>
					<p class="mb-0 font-11 ps-3">just now</p>
				</div>
			</div>

			<div class="divider my-3"></div>

			<div class="d-flex">
				<div class="align-self-center">
					<div>
						<img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/2s.jpg" class="rounded-s" width="40">
						<i class="ri-checkbox-circle-fill color-blue-dark"></i>
					</div>
				</div>
				<div class="align-self-center">
					<h4 class="font-14 mb-n1 ps-3">Jack Son <span class="opacity-40 font-400 font-12 px-1 d-inline-block"> sent you a friend request.</span></h4>
					<p class="mb-0 font-11 ps-3">about 2 hours ago</p>
				</div>
			</div>

			<div class="divider my-3"></div>

            <div class="d-flex">
                <div class="align-self-center">
                    <div>
                        <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/2s.jpg" class="rounded-s" width="40">
                        <i class="ri-checkbox-circle-fill color-blue-dark"></i>
                    </div>
                </div>
                <div class="align-self-center">
                    <h4 class="font-14 mb-n1 ps-3">Jack Son <span class="opacity-40 font-400 font-12 px-1 d-inline-block"> sent you a friend request.</span></h4>
                    <p class="mb-0 font-11 ps-3">about 2 hours ago</p>
                </div>
            </div>

            <div class="divider my-3"></div>

			<div class="d-flex">
				<div class="align-self-start">
					<div>
						<img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/7s.jpg" class="rounded-s" width="40">
						<i class="bi bi-check-circle-fill position-absolute ms-n2 mt-3 pt-2 ms-n2 color-blue-dark"></i>
					</div>
				</div>
				<div class="align-self-center me-3">
					<h4 class="font-14 mb-n1 ps-3">Karla Black <span class="opacity-40 font-400 font-12 px-1 d-inline-block"> posted a new photo.</span></h4>
					<p class="mb-0 font-11 ps-3 mb-2">about 2 hours ago</p>
				</div>
			</div>
			<img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/3w.jpg" class="img-fluid rounded-s mb-2">

			<div class="divider my-3"></div>

			<div class="d-flex">
				<div class="align-self-start">
					<div>
						<span class="icon icon-xxl gradient-red shadow-bg shadow-bg-s rounded-m color-white"><i class="bi bi-heart font-24"></i></span>
					</div>
				</div>
				<div class="align-self-center me-3 ps-2">
					<h5 class="font-14 mb-0 ps-1 pt-1">Duo 3.0 Released</h5>
					<p class="ps-1 pb-1 mb-0 font-11 line-height-s opacity-80">
						New design, more components. Bootstrap 5 and Vanilla JS.
					</p>
					<p class="mt-n1 opacity-50 font-11 ms-1 mb-2">about 2 hours ago</p>
				</div>
			</div>

			<div class="divider my-2"></div>

			<div class="d-flex">
				<div class="align-self-start">
					<div>
						<img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/12s.jpg" class="rounded-xl" width="40">
						<i class="bi bi-check-circle-fill position-absolute ms-n2 mt-3 pt-2 ms-n2 color-blue-dark"></i>
					</div>
				</div>
				<div class="align-self-center me-3">
					<h4 class="font-14 mb-n1 ps-3">Alexandra <span class="opacity-40 font-300 font-12 px-1 d-inline-block"> posted a a new album.</span></h4>
					<p class="mb-0 font-11 ps-3 mb-2">about 2 hours ago</p>
					<div class="row text-center row-cols-4 mb-0 ps-3">
						<a class="col pe-1" data-gallery="gallery-2" href="images/pictures/23t.jpg" title="Cyber Punk">
							<img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/23s.jpg" class="preload-img img-fluid rounded-s" alt="img">
						</a>
						<a class="col pe-1" data-gallery="gallery-2" href="images/pictures/14t.jpg" title="Jelly Fish">
							<img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/14s.jpg" class="preload-img img-fluid rounded-s" alt="img">
						</a>
						<a class="col pe-1" data-gallery="gallery-2" href="images/pictures/5t.jpg" title="Ice Cube">
							<img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/5s.jpg" class="preload-img img-fluid rounded-s" alt="img">
						</a>
						<a class="col pe-1" data-gallery="gallery-2" href="images/pictures/7t.jpg" title="Ice Cube">
							<img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/7s.jpg" class="preload-img img-fluid rounded-s" alt="img">
						</a>
					</div>
				</div>
			</div>

			<div class="divider my-3"></div>

			<div class="d-flex">
				<div class="align-self-start">
					<div>
						<span class="icon icon-xxl gradient-green shadow-bg shadow-bg-s rounded-m color-white"><i class="bi bi-code font-24"></i></span>
					</div>
				</div>
				<div class="align-self-center me-3 ps-2">
					<h5 class="font-14 mb-0 ps-1 pt-1">Bootstrap 5 and Vanilla JS</h5>
					<p class="ps-1 pb-1 mb-0 font-11 line-height-s opacity-80">
						New design, more components. Bootstrap 5 and Vanilla JS.
					</p>
					<p class="mt-n1 opacity-50 font-11 ms-1 mb-n2">about 2 hours ago</p>
				</div>
			</div>

		</div>
	</div>


</div>
<!-- End of Page Content-->


<ThemeLoader></ThemeLoader>
@code {

}
