@* @page "/terms-and-conditions" *@

@attribute [Route(NavigationLinks.PLACES_URL)]
<!-- Your Page Content Goes Here-->
<div class="page-content header-clear-medium">

    <div class="card card-style">
        <div class="content mb-0">
            <h5 class="color-highlight font-13 mb-n1">
                Help us clear the nature
                </h5>
            <h1 class="font-700 pb-0">
                Polluted Places
                </h1>
            <p class="mb-3">
                We're looking for passionate developers to join our team. Got what it takes? Send us a message.
            </p>
        </div>
    </div>


    <div class="card card-style">
        <div class="content">
            <div class="responsive-iframe rounded-s">
                <iframe class="rounded-s" src="https://www.openstreetmap.org/export/embed.html?bbox=-74.04914975166322%2C40.68780568731773%2C-74.0420687198639%2C40.691909864093816&amp;layer=hot" name="887c84fe-e14c-4929-be86-eb93b4052ce4"></iframe>
            </div>
            <h3 class="mt-3">Open Maps</h3>
            <p> Just copy the link to the service you want and add it inside a responsive-iframe div. We'll do the rest.
            </p></div>
    </div>
    <div class="card card-style">
        <div class="content">
            <div class="responsive-iframe rounded-s">
                <iframe class="rounded-s" src="https://www.openstreetmap.org/export/embed.html?bbox=-74.04914975166322%2C40.68780568731773%2C-74.0420687198639%2C40.691909864093816&amp;layer=hot" name="887c84fe-e14c-4929-be86-eb93b4052ce4"></iframe>
            </div>
            <h3 class="mt-3">Open Maps</h3>
            <p> Just copy the link to the service you want and add it inside a responsive-iframe div. We'll do the rest.
            </p></div>
    </div>

    <div class="card card-style">
        <div class="content">
            <div class="responsive-iframe rounded-s">
                <iframe class="rounded-s" src="https://www.openstreetmap.org/export/embed.html?bbox=-74.04914975166322%2C40.68780568731773%2C-74.0420687198639%2C40.691909864093816&amp;layer=hot" name="887c84fe-e14c-4929-be86-eb93b4052ce4"></iframe>
            </div>
            <h3 class="mt-3">Open Maps</h3>
            <p>
                Just copy the link to the service you want and add it inside a responsive-iframe div. We'll do the rest.
            </p>
        </div>
    </div>

</div>
<!-- End of Page Content-->

<ThemeLoader></ThemeLoader>

@code {

}
