@using AccountDto = CoinGardenWorld.HttpClientsExtensions.AccountDto
@* @page "/profile" *@

@attribute [Route(NavigationLinks.PROFILE_URL)]

@inject IHybridStorage LocalStorage

@inject MobileApiAuthorizedHttpClient MobileApiAuthorizedHttpClient
@inject MobileApiHttpClient MobileApiHttpClient

@inject ILogger<Profile> Logger
@inject AuthenticationStateProvider AuthStateProvider

<AuthorizeView>
    <Authorized>

        <!-- Your Page Content Goes Here-->
        <div class="page-content header-clear-medium">

            <div class="card card-style mt-5 overflow-visible">
                <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/7t.jpg" width="150" height="150" class="mt-n5 preload-img mx-auto rounded-circle shadow-xl">
                <div class="content text-center">
                    <div class="px-3 mb-n3">
                        <h1 class="font-700">
                            @context.User.Identity.Name
                        </h1>
                        <p class="mb-2 opacity-60 font-13">
                            Karla Black is a name used when you generate a text with an anonymous name.
                        </p>
                        <p class="font-10">
                            <strong class="color-theme pe-1">1k</strong>Followers
                            <strong class="color-theme ps-3 pe-1">342</strong>Following
                        </p>
                    </div>
                </div>
                
                <div class="content">
                    <div class="row mb-0">
                        <div class="col-6">
                            <a href="@NavigationLinks.PROFILE_FOLLOWERS_URL" class="btn btn-full btn-s rounded-s text-uppercase font-900 gradient-highlight shadow-bg shadow-bg-s">
                                View Followers
                                </a>
                        </div>
                        <div class="col-6">
                            <a href="@NavigationLinks.PROFILE_EDIT_URL" class="btn btn-full btn-s btn-border rounded-s text-uppercase font-900 color-highlight border-blue-dark shadow-l">
                                Edit Profile
                                </a>
                        </div>
                    </div>
                </div>
                <div class="divider mb-4 mx-3 mt-1"></div>
                <div class="row mb-0 px-3">
                    <div class="col-6 col-md-4">
                        <a data-bs-toggle="offcanvas" data-bs-target="#menu-gallery-2" href="#"><img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/3s.jpg" class="rounded-m img-fluid mx-auto d-block"></a>
                        <span class="font-700 color-theme font-14 text-center d-block mb-3">Album Sheet 1</span>
                    </div>
                    <div class="col-6 col-md-4">
                        <a data-bs-toggle="offcanvas" data-bs-target="#menu-gallery-2" href="#"><img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/5s.jpg" class="rounded-m img-fluid mx-auto d-block"></a>
                        <span class="font-700 color-theme font-14 text-center d-block mb-3">Album Sheet 2</span>
                    </div>
                    <div class="col-6 col-md-4">
                        <a data-bs-toggle="offcanvas" data-bs-target="#menu-gallery-2" href="#"><img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/12s.jpg" class="rounded-m img-fluid mx-auto d-block"></a>
                        <span class="font-700 color-theme font-14 text-center d-block mb-3">Album Sidebar 1</span>
                    </div>
                    <div class="col-6 col-md-4">
                        <a data-bs-toggle="offcanvas" data-bs-target="#menu-gallery-2" href="#"><img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/22s.jpg" class="rounded-m img-fluid mx-auto d-block"></a>
                        <span class="font-700 color-theme font-14 text-center d-block mb-3">Album Sidebar 2</span>
                    </div>
                </div>
            </div>

            <DashboardCardText></DashboardCardText>

            <DashboardCardText></DashboardCardText>

            <DashboardCardImage></DashboardCardImage>

            <DashboardCardText></DashboardCardText>


            <div class="col-12 pb-4">
                <div class="d-flex justify-content-center">
                    <div class="preloader-m">
                        <div class="spinner-border color-highlight" style="border-width: 3px;" role="status"></div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End of Page Content-->

        <SectionContent SectionName="offcanvas">
            <!-- Sheet 2-->
            <div class="offcanvas offcanvas-bottom rounded-m offcanvas-detached" id="menu-gallery-2" style="max-height: 820px; --bs-offcanvas-height: 75vh">
                <div class="content mb-0">
                    <h5 class="mb-n1 font-12 color-highlight font-700 text-uppercase pt-1">2 x 2 Image Grid</h5>
                    <h1 class="font-24 font-800 mb-3">Album Thumbs</h1>
                    <p>
                        Simple thumbnails with caption attached to them. These will all open an album gallery when tapped.
                    </p>

                    <div class="row text-center row-cols-2 mb-0">
                        <a class="col" data-gallery="gallery-2" href="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/7t.jpg" title="Model Portrait">
                            <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/7t.jpg" class="preload-img img-fluid rounded-xs" alt="img">
                            <p class="font-600 color-theme font-12 pb-3">Selfie</p>
                        </a>
                        <a class="col" data-gallery="gallery-2" href="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/11t.jpg" title="Red Leafs">
                            <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/11s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
                            <p class="font-600 color-theme font-12 pb-3">Nature</p>
                        </a>
                        <a class="col" data-gallery="gallery-2" href="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/2t.jpg" title="Smoke Flow">
                            <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/2t.jpg" class="preload-img img-fluid rounded-xs" alt="img">
                            <p class="font-600 color-theme font-12 pb-3">Smoke Flow</p>
                        </a>
                        <a class="col" data-gallery="gallery-2" href="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/4t.jpg" title="Color Doughnuts">
                            <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/4s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
                            <p class="font-600 color-theme font-12 pb-3">Color Doughnuts</p>
                        </a>
                    </div>
                    <a href="#" data-bs-dismiss="offcanvas" class="btn btn-full gradient-red shadow-bg shadow-bg-s mb-3">Close Album</a>
                </div>
            </div>

        </SectionContent>




    </Authorized>
    <NotAuthorized>
        <div class="page-content header-clear-medium">

            <CreateOrRegisterAccountCard></CreateOrRegisterAccountCard>


            <TopAccountsForTheMonth></TopAccountsForTheMonth>


            <UploadFlowerPictureCard></UploadFlowerPictureCard>

        </div>

    </NotAuthorized>
</AuthorizeView>


<ThemeLoader></ThemeLoader>
@code {
    private string userName;
    private List<Models.Entities.Account> _accounts = new ();

    bool isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        try
        {            
            var authState = await AuthStateProvider.GetAuthenticationStateAsync();

            isAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;

            var accounts = await MobileApiAuthorizedHttpClient.MobileApiOData.AccountsOData.ExecuteAsync();
            _accounts = accounts.ToList();

            StateHasChanged();
        }
        catch (Exception e)
        {
            Logger.LogError(e.Message);
        }

    }
    protected override void OnInitialized()
    {
        base.OnInitialized();


    }
}
