@attribute [Route(NavigationLinks.VIEW_FOLLOWERS_URL)]


@layout InternalPageLayout

<!-- Your Page Content Goes Here-->
<div class="page-content header-clear-medium">

    <div class="card card-style">
        <div class="content mb-0">
            <h5 class="color-highlight font-13 mb-n1">
                Check out your lists of people that follows you 

            </h5>
            <h2 class="font-700 pb-0">
                Check your Friends &amp; Followers
                </h2>
            <p class="mb-3">
                You can follow anyone in the application, but only people that recognize you will become friends with you.
            </p>

        </div>
    </div>

    <div class="card card-style">
        <div class="content">
            <div class="d-flex">

                <div>
                    <h4>Your Friends</h4>
                </div>
                <div class="align-self-center ms-auto">
                    <i class="bi bi-people font-24 color-highlight"></i>
                </div>

            </div>
            <h5 class="mb-3 font-13 color-highlight">
                Anyone that recognize your follower request as a friend, will become friend with you! 💗
            </h5>

            <div class="list-group list-custom list-group-m rounded-m">
                <a href="#" class="list-group-item">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/2s.jpg" width="40" class="me-2 rounded-xs">
                    <div class="ps-1"><strong class="font-600">Call John Doe</strong><span>Front End Developer</span></div>
                    <i class="bi bi-chevron-right"></i>
                </a>
                <a href="#" class="list-group-item">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/7s.jpg" width="40" class="me-2 rounded-xs">
                    <div class="ps-1"><strong class="font-600">Mail Karla Black</strong><span>Marketing Manager</span></div>
                    <i class="bi bi-chevron-right"></i>
                </a>
                <a href="#" class="list-group-item">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/23s.jpg" width="40" class="me-2 rounded-xs">
                    <div class="ps-1"><strong class="font-600">View Gamer Girl</strong><span>Procrastination Developer</span></div>
                    <i class="bi bi-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="card card-style">
        <div class="content">
            <div class="d-flex">

                <div>
                    <h4>Profiles that you follow</h4>
                </div>
                <div class="align-self-center ms-auto">
                    <i class="bi bi-person-check font-24 color-highlight"></i>
                </div>

            </div>
            <h5 class="mb-3 font-13 color-highlight">
                List of profiles that you follow 
            </h5>
            <div class="list-group list-custom list-group-m rounded-m">
                <a href="#" class="list-group-item">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/2s.jpg" width="40" class="me-2 rounded-xs">
                    <div class="ps-1"><strong class="font-600">Call John Doe</strong><span>Front End Developer</span></div>
                    <i class="bi bi-chevron-right"></i>
                </a>
                <a href="#" class="list-group-item">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/7s.jpg" width="40" class="me-2 rounded-xs">
                    <div class="ps-1"><strong class="font-600">Mail Karla Black</strong><span>Marketing Manager</span></div>
                    <i class="bi bi-chevron-right"></i>
                </a>
                <a href="#" class="list-group-item">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/23s.jpg" width="40" class="me-2 rounded-xs">
                    <div class="ps-1"><strong class="font-600">View Gamer Girl</strong><span>Procrastination Developer</span></div>
                    <i class="bi bi-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>


    <div class="card card-style">
        <div class="content">
            <div class="d-flex">

                <div>
                    <h4>Your Followers</h4>
                </div>
                <div class="align-self-center ms-auto">
                    <i class="bi bi-person font-24 color-highlight"></i>
                </div>

            </div>

            <h5 class="mb-3 font-13 color-highlight">
                List of users that follows you
            </h5>
            <div class="list-group list-custom list-group-m rounded-m">
                <a href="#" class="list-group-item">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/2s.jpg" width="40" class="me-2 rounded-xs">
                    <div class="ps-1"><strong class="font-600">Call John Doe</strong><span>Front End Developer</span></div>
                    <i class="bi bi-chevron-right"></i>
                </a>
                <a href="#" class="list-group-item">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/7s.jpg" width="40" class="me-2 rounded-xs">
                    <div class="ps-1"><strong class="font-600">Mail Karla Black</strong><span>Marketing Manager</span></div>
                    <i class="bi bi-chevron-right"></i>
                </a>
                <a href="#" class="list-group-item">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/23s.jpg" width="40" class="me-2 rounded-xs">
                    <div class="ps-1"><strong class="font-600">View Gamer Girl</strong><span>Procrastination Developer</span></div>
                    <i class="bi bi-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End of Page Content-->

<ThemeLoader></ThemeLoader>


@code {

}
