@* @page "/terms-and-conditions" *@

@attribute [Route(NavigationLinks.TERMS_AND_CONDITIONS_URL)]
<!-- Your Page Content Goes Here-->
<div class="page-content header-clear-medium">

  
    <div class="card card-style">
        <div class="content mb-0">
            <h1 class="font-700 pb-0">
                Terms and Conditions
            </h1>
        </div>
    </div>

</div>
<!-- End of Page Content-->

<ThemeLoader></ThemeLoader>

@code {

}
