@* @page "/terms-and-conditions" *@

@attribute [Route(NavigationLinks.TERMS_AND_CONDITIONS_URL)]
<!-- Your Page Content Goes Here-->
<div class="page-content header-clear-medium">

  

</div>
<!-- End of Page Content-->

<ThemeLoader></ThemeLoader>

@code {

}
