@* @page "/walkthrough" *@

@attribute [Route(NavigationLinks.WALKTHROUGH_URL)]

@using System.Globalization
@layout MobileLayoutNoMenus


<!-- Your Page Content Goes Here-->
<div class="page-content pb-0 overflow-hidden bg-dark-dark">

    <div class="splide single-slider slider-no-dots slider-no-arrows" id="single-slider-walkthrough" data-splide='{"interval":4000}'>
        <div class="splide__track">
            <div class="splide__list">
                <div class="splide__slide">
                    <div class="card bg-dark-dark rounded-0" style="background-image:url(./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/coingarden/mobileapp-site-logo-mobile-580x1060.png); background-size:cover;" data-card-height="cover">
                        <div class="card-center">
                            <h1 class="color-white font-40 text-center">GardenAPP</h1>
                            <p class="color-white text-center opacity-70">
                                a part of
                                <strong>CoinGarden.World</strong>
                                a Revolutionary Set of Apps
                            </p>
                            <p class="color-white text-center opacity-30">
                            </p>
                            <p class="color-white font-16 text-center boxed-text-xl">
                                Our Flower Recognition and Care App uses image recognition technology to identify different types of flowers and provides users with helpful tips on how to care for them. This app also sends notifications to remind users when it's time to water their plants. By using this app, people can better understand their flowers' needs and grow them more effectively.
                            </p>
                        </div>
                        <div class="card-overlay bg-black opacity-40 rounded-0"></div>
                        <div class="card-overlay bg-gradient-fade rounded-0"></div>
                    </div>
                </div>
                <div class="splide__slide">
                    <div class="card bg-dark-dark rounded-0" style="background-image:url(./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/coingarden/bot-site-logo-mobile-580x1060.png); background-size:cover;" data-card-height="cover">
                        <div class="card-center">
                            <h1 class="color-white font-40 text-center">GardenBOT</h1>
                            <p class="color-white text-center opacity-70">
                                a part of
                                <strong>CoinGarden.World</strong>
                                a Revolutionary Set of Apps
                            </p>
                            <p class="color-white font-16 text-center boxed-text-xl">
                                Our Chat Bot App uses AI technology to recognize different types of flowers and provide users with more information about them. This app can help people learn more about the flowers in their environment and appreciate their beauty.
                            </p>
                        </div>
                        <div class="card-overlay bg-black opacity-40 rounded-0"></div>
                        <div class="card-overlay bg-gradient-fade rounded-0"></div>
                    </div>
                </div>
                <div class="splide__slide">
                    <div class="card bg-dark-dark rounded-0" style="background-image:url(./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/coingarden/metaverse-site-logo-mobile-580x1060.png); background-size:cover;" data-card-height="cover">
                        <div class="card-center">
                            <h1 class="color-white font-40 text-center">GardenVERSE</h1>
                            <p class="color-white text-center opacity-70">
                                a part of
                                <strong>CoinGarden.World</strong>
                                a Revolutionary Set of Apps
                            </p>
                            <p class="color-white font-16 text-center boxed-text-xl">
                                Step into the enchanting "World of Flowers" Metaverse, where the beauty of nature meets the limitless possibilities of the digital realm. Dive into a universe where every flower tells a story, and every island is a testament to the harmonious blend of nature and technology.
                            </p>
                        </div>
                        <div class="card-overlay bg-black opacity-40 rounded-0"></div>
                        <div class="card-overlay bg-gradient-fade rounded-0"></div>
                    </div>
                </div>
                <div class="splide__slide">
                    <div class="card bg-dark-dark rounded-0" style="background-image:url(./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/coingarden/charity-site-logo-mobile-580x1060.png); background-size:cover;" data-card-height="cover">
                        <div class="card-center">
                            <h1 class="color-white font-40 text-center">GardenCharity</h1>
                            <p class="color-white text-center opacity-70">
                                a part of
                                <strong>CoinGarden.World</strong>
                                a Revolutionary Set of Apps
                            </p>
                            <p class="color-white font-16 text-center boxed-text-xl">
                                The "Donations and Causes" section of the World of Flowers platform introduces a groundbreaking approach to environmental conservation. This unique crowdfunding system empowers individuals to take action against environmental degradation. Dive into a world where technology meets nature, and every individual has the power to make a tangible difference.
                            </p>
                        </div>
                        <div class="card-overlay bg-black opacity-60 rounded-0"></div>
                        <div class="card-overlay bg-gradient-fade rounded-0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-bottom">
        <div class="form-custom form-language-walkthrough mb-3 form-label form-border col-6 mx-auto d-block">
            <i class="bi bi-check-circle font-13 disabled"></i>
            <select @bind="selectedCulture" class="form-select" id="language-selector-walkthrough" aria-label="Select Language">
                @foreach (var culture in supportedCultures)
                {
                    <option value="@culture.Key.DisplayName" class="bg-dark" lang="@culture.Key.TwoLetterISOLanguageName">
                        <img src="@culture.Value" class="language-selector-walkthrough-flag-@culture.Key.TwoLetterISOLanguageName">
                        @culture.Key.DisplayName 
                    </option>
                }
            </select>
            <label for="language-selector-walkthrough" class="form-label-active">Select Language</label>
        </div>
        <p class="text-center font-10 mb-n3 color-white opacity-40">
            Made with Love and Care by
            <a class="color-white" href="https://coingarden.world" target="_blank" title="CoinGarden.World">
                CoinGarden.World
            </a>
        </p>
        <a href="../" class="btn btn-full gradient-highlight m-4 font-700 text-uppercase shadow-bg shadow-bg-s">Start Exploring GardenAPP <br /> by "World of Flowers"</a>
    </div>

</div>
<!-- End of Page Content-->


<ThemeLoader></ThemeLoader>

@code {
    private string selectedCulture;
    // TODO: dont know how to add images on select :(
    private Dictionary<CultureInfo, string> supportedCultures = new Dictionary<CultureInfo, string>
    {
        { new CultureInfo("en-US"), "https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/320px-Flag_of_the_United_States.svg.png"},
        { new CultureInfo("bg-BG"), "https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Bulgaria.svg/320px-Flag_of_Bulgaria.svg.png"}
    };



}
