@page "/garden"


<!-- Your Page Content Goes Here-->
<div class="page-content header-clear-medium">

    
    <h3>YourGarden</h3>


</div>
<!-- End of Page Content-->
<ThemeLoader></ThemeLoader>

@code {

}
