<!-- Menu Highlights-->
<div id="menu-color" style="" class="offcanvas offcanvas-bottom offcanvas-detached rounded-m">
	<div class="content">
		<div class="d-flex">
			<div>
				<h1 class="mb-0 font-700 font-20">Color Highlights</h1>
			</div>
			<div class="ms-auto me-n2">
				<a href="#" data-bs-dismiss="offcanvas" class="icon icon-xs mt-n1"><i class="bi bi-x-circle-fill color-red-dark font-18"></i></a>
			</div>
		</div>

		<div class="divider mb-4 mt-2"></div>

		<div class="d-flex text-center px-1">
			<div class="me-auto">
				<button  data-change-highlight="red" class="icon icon-m gradient-red shadow-bg shadow-bg-xs rounded-s"><i class="bi bi-circle color-white font-16"></i></button>
				<h5 class="font-14 pt-1">Red</h5>
			</div>
			<div class="m-auto">
				<button  data-change-highlight="green" class="icon icon-m gradient-green shadow-bg shadow-bg-xs rounded-s"><i class="bi bi-circle color-white font-16"></i></button>
				<h5 class="font-14 pt-1">Green</h5>
			</div>
			<div class="m-auto">
				<button data-change-highlight="blue" class="icon icon-m gradient-blue shadow-bg shadow-bg-xs rounded-s"><i class="bi bi-check-circle-fill color-white font-16"></i></button>
				<h5 class="font-14 pt-1">Blue</h5>
			</div>
			<div class="ms-auto">
				<a  data-change-highlight="mint" class="icon icon-m gradient-mint shadow-bg shadow-bg-xs rounded-s"><i class="bi bi-circle color-white font-16"></i></a>
				<h5 class="font-14 pt-1">Mint</h5>
			</div>
		</div>
		<div class="pt-3"></div>
		<div class="d-flex text-center px-1 pb-1">
			<div class="me-auto">
				<button  data-change-highlight="orange" class="icon icon-m gradient-orange shadow-bg shadow-bg-xs rounded-s"><i class="bi bi-circle color-white font-16"></i></button>
				<h5 class="font-14 pt-1">Orange</h5>
			</div>
			<div class="m-auto">
				<button data-change-highlight="yellow" class="icon icon-m gradient-yellow shadow-bg shadow-bg-xs rounded-s"><i class="bi bi-circle color-white font-16"></i></button>
				<h5 class="font-14 pt-1">Yellow</h5>
			</div>
			<div class="m-auto">
				<button data-change-highlight="magenta" class="icon icon-m gradient-magenta shadow-bg shadow-bg-xs rounded-s"><i class="bi bi-circle color-white font-16"></i></button>
				<h5 class="font-14 pt-1">Magenta</h5>
			</div>
			<div class="ms-auto">
				<button data-change-highlight="brown" class="icon icon-m gradient-brown shadow-bg shadow-bg-xs rounded-s"><i class="bi bi-circle color-white font-16"></i></button>
				<h5 class="font-14 pt-1">Brown</h5>
			</div>
		</div>
	</div>
	<a href="" data-bs-dismiss="offcanvas" class="mx-3 btn btn-full gradient-highlight shadow-bg shadow-bg-s">Awesome</a>

</div>

@code {

}
