@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration


<!-- Main Sidebar-->
<div id="menu-main" style="width:280px;" class="offcanvas offcanvas-start offcanvas-detached rounded-m">

    <div class="card card-style bg-23 mb-3 rounded-m mt-3" data-card-height="150">
        <div class="card-top m-3">
            <a href="#" data-bs-dismiss="offcanvas" class="icon icon-xs bg-theme rounded-s color-theme float-end"><i class="bi bi-caret-left-fill"></i></a>
        </div>
        <div class="card-bottom p-3">
            <h1 class="color-white font-20 font-700 mb-n2">
                GardenAPP
            </h1>
            <p class="color-white font-12 opacity-70 mb-n1">
                A part of CoinGarden.World
            </p>
        </div>
        <div class="card-overlay bg-gradient-fade rounded-0"></div>
    </div>

     <LoginDisplay/>
    
    <SidebarMenuNavigation />

    <SidebarMenuMessages />

    <SidebarMenuSettings />


   @* <SidebarMenuLatestUpdates />  *@

    <p class="text-center mb-0 mt-3 pb-3 font-9 text-uppercase font-600 color-theme">
        Made with <i class=" font-9 px-1 bi bi-heart-fill color-red-dark"></i> by
        <a href="https://coingarden.world" target="_blank" title="CoinGarden.World">
            CoinGarden.World
        </a> in <span class="copyright-year"></span>.
    </p>

</div>

@code {

}
