
<span class="menu-divider mt-4">Latest Updates</span>
<div class="menu-content px-3">
    <div class="card card-style rounded-m p-2 mx-0 bg-theme">
        <a href="#">
            <div class="d-flex">
                <div class="align-self-center">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/14s.jpg" class="rounded-s me-2" width="60" alt="img">
                </div>
                <div class="align-self-center">
                    <h5 class="font-14 mb-0 ps-1 pt-1">Duo 3.0 Released</h5>
                    <p class="ps-1 pb-1 mb-0 font-11 line-height-s opacity-70">
                        New design, more components. Bootstrap 5 and Vanilla JS.
                    </p>
                </div>
            </div>
        </a>
        <div class="mb-2"></div>
        <a href="#">
            <div class="d-flex">
                <div class="align-self-center">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/5s.jpg" class="rounded-s me-2" width="60" alt="img">
                </div>
                <div class="align-self-center">
                    <h5 class="font-14 mb-0 ps-1 pt-1">PWA Ready</h5>
                    <p class="ps-1 pb-1 mb-0 font-11 line-height-s opacity-70">
                        Add Duo to your home screen and enjoy it as you would a native app.
                    </p>
                </div>
            </div>
        </a>
        <div class="mb-2"></div>
        <a href="#">
            <div class="d-flex">
                <div class="align-self-center">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/11s.jpg" class="rounded-s me-2" width="60" alt="img">
                </div>
                <div class="align-self-center">
                    <h5 class="font-14 mb-0 ps-1 pt-1">Care & Quality</h5>
                    <p class="ps-1 pb-1 mb-0 font-11 line-height-s opacity-70">
                        We love all our customers, and we're always here to help out.
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>

@code {

}
