/*!
Template :	ICOCrypto @by Softnio
Theme	 :  Default
* Version	 :	2.1.0
* Updated	 :	11/22/2022
*/
/*! WRITE YOUR CUSTOM STYLE **/

/* unvisited link */

.footer-links li {
    display: block;
}

.language-switcher a {
    text-decoration: none;
    cursor: pointer;
}


@media (min-width: 992px) {
    .logo img { height: 30px; }

    .menu-login-button-custom {
        margin-left: 15px !important;
    }
}

@media (max-width: 992px) {
    .menu-btns {
        margin-bottom: 0px;
    }
}