@page "/"

@attribute [AllowAnonymous]

<PageTitle>Index</PageTitle>

<h1>
    <a href="https://coingarden.world/" title="CoinGarden.World" target="_blank">
        CoinGarden.World</a>
</h1>
<p>

    
    🌷 Web3 Infrastructure for gardening, growing, 🌺
    <br />
    🌻 selling and earning crypto from your flowers 🌼
</p>

<SurveyPrompt />
