@inherits BannerBase
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<CharitiesHomeBanner> _localizer


<!-- Banner -->
<div class="header-banner bg-theme-grad">
    <div class="nk-banner">
        <div class="banner banner-fs banner-pd-lg">
            <div class="banner-wrap">
                <div class="container">
                    <div class="row gutter-vr-30px align-items-center justify-content-lg-between justify-content-center">
                        <div class="col-lg-4 col-sm-9 order-lg-last">
                            <div class="banner-gfx-re-s3 my-0 animated" data-animate="fadeInUp" data-delay="1">
                                <img src="images/colorfull_animated_picture_of_a_flower_shop.webp" alt="header">
                            </div>
                        </div><!-- .col -->
                        <div class="col-lg-8 col-xl-7 col-sm-10 text-center text-lg-start">
                            <div class="banner-caption wide-auto-xl pdb-l pdt-r tc-light">
                                <div class="cpn-head">
                                    <h1 class="title title-md animated fadeInUp" data-animate="fadeInUp" data-delay="1.25" style="visibility: visible; animation-delay: 1.25s;">
                                        GardenStore
                                        <span class="title-thin">
                                            a part of <br class="d-none d-xl-block">
                                        </span> CoinGarden.World<br class="d-none d-xl-block">
                                        <span class="title-thin">
                                            a Revolutionary Set of Apps
                                        </span>  
                                    </h1>
                                </div>
                                <div class="cpn-text-s1 cpn-text-center">
                                    <p class="lead animated fadeInUp" data-animate="fadeInUp" data-delay="1.35" style="visibility: visible; animation-delay: 1.35s;">
                                        The NFT Flower Shop is a unique platform that stands out in the realm of digital collectibles. What sets this flower shop apart is its innovative approach to integrating nature and technology. Users have the opportunity to sell their collection of photos of their most exquisite flowers, turning their passion for nature into a profitable venture. Moreover, the platform offers a seamless way to sell real flowers in physical stores by incorporating QR codes on pots, allowing instant cryptocurrency transactions. Dive into the world where the beauty of flowers meets the digital age, and explore how you can monetize your love for nature while also promoting its preservation.
                                    </p>
                                </div>
                                <ul class="cpn-links flex-wrap flex-sm-nowrap cpn-links-s1 pt-0 pb-3 pb-sm-0">
                                    <li class="order-sm-0">
                                        <a href="https://coingarden.world" target="_blank" class="link link-xs link-light">
                                            <em class="link-icon fas fa-home"></em><span>Go to main site</span>
                                        </a>
                                    </li>
                                    <li class="order-sm-0 order-last w-100">
                                        <a href="#bot-chat" class="btn btn-round btn-primary btn-lg nav-link">
                                                   @_localizer["Download the App"]
                                        </a>
                                    </li>
                                    <li class="order-sm-0">
                                        <a href="https://docs.coingarden.world/" target="_blank" class="link link-xs link-light">
                                            <em class="link-icon fas fa-file"></em><span>Documentation</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div>
            </div>
        </div>
    </div><!-- .nk-banner -->
    <div class="nk-ovm mask-f mask-contain-bottom shape-a2"></div>
    <!-- Place Particle Js -->
    <div id="particles-bg" class="particles-container particles-bg"></div>
</div>
<!-- .header-banner -->
@code {


}
