@inherits BannerBase
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<CharitiesHomeBanner> _localizer


<!-- Banner -->
<div class="header-banner bg-theme-grad">
    <div class="nk-banner">
        <div class="banner banner-fs banner-pd-lg">
            <div class="banner-wrap">
                <div class="container">
                    <div class="row gutter-vr-30px align-items-center justify-content-lg-between justify-content-center">
                        <div class="col-lg-4 col-sm-9 order-lg-last">
                            <div class="banner-gfx-re-s3 my-0 animated" data-animate="fadeInUp" data-delay="1">
                                <img src="images/charities.webp" alt="header">
                            </div>
                        </div><!-- .col -->
                        <div class="col-lg-8 col-xl-7 col-sm-10 text-center text-lg-start">
                            <div class="banner-caption wide-auto-xl pdb-l pdt-r tc-light">
                                <div class="cpn-head">
                                    <h1 class="title title-md animated fadeInUp" data-animate="fadeInUp" data-delay="1.25" style="visibility: visible; animation-delay: 1.25s;">
                                        GardenCharity
                                        <span class="title-thin">
                                            a part of <br class="d-none d-xl-block">
                                        </span> CoinGarden.World<br class="d-none d-xl-block">
                                        <span class="title-thin">
                                            a Revolutionary Set of Apps
                                        </span>  
                                    </h1>
                                </div>
                                <div class="cpn-text-s1 cpn-text-center">
                                    <p class="lead animated fadeInUp" data-animate="fadeInUp" data-delay="1.35" style="visibility: visible; animation-delay: 1.35s;">
                                        The "Donations and Causes" section of the World of Flowers platform introduces a groundbreaking approach to environmental conservation. This unique crowdfunding system empowers individuals to take action against environmental degradation. Users can capture images of endangered or polluted areas and seek funding to initiate restoration projects. Even if financial support isn't required, contributors are recognized with special environmental badges in the form of NFTs, celebrating their commitment to nature. The platform ensures transparency by releasing funds in increments, requiring periodic updates with photos showcasing the progress made in the targeted areas. Dive into a world where technology meets nature, and every individual has the power to make a tangible difference.
                                    </p>
                                </div>
                                <ul class="cpn-links flex-wrap flex-sm-nowrap cpn-links-s1 pt-0 pb-3 pb-sm-0">
                                    <li class="order-sm-0">
                                        <a href="https://coingarden.world" target="_blank" class="link link-xs link-light">
                                            <em class="link-icon fas fa-home"></em><span>Go to main site</span>
                                        </a>
                                    </li>
                                    <li class="order-sm-0 order-last w-100">
                                        <a href="#bot-chat" class="btn btn-round btn-primary btn-lg nav-link">
                                                   @_localizer["Download the App"]
                                        </a>
                                    </li>
                                    <li class="order-sm-0">
                                        <a href="https://docs.coingarden.world/" target="_blank" class="link link-xs link-light">
                                            <em class="link-icon fas fa-file"></em><span>Documentation</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div>
            </div>
        </div>
    </div><!-- .nk-banner -->
    <div class="nk-ovm mask-f mask-contain-bottom shape-a2"></div>
    <!-- Place Particle Js -->
    <div id="particles-bg" class="particles-container particles-bg"></div>
</div>
<!-- .header-banner -->
@code {


}
