@inject IJSRuntime jsRuntime
<!-- Footer -->
<footer class="nk-footer bg-theme-grad ov-h">
    <section class="section section-t-xl tc-light pdb-0 animated" data-animate="fadeInUp" data-delay=".1">
        <div class="container">
            <!-- Block -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8 col-mb-9">
                        <div class="section-head section-head-sm wide-auto-sm text-center">
                            <h4 class="title">Subscribe to Us</h4>
                            <p>If you want to get update news please subscribe to us.</p>
                        </div>
                        <form action="form/subscribe.php" class="nk-form-submit" method="post">
                            <div class="field-inline field-split bg-white shadow-soft">
                                <div class="field-wrap d-flex align-items-center">
                                    <label class="label-inline mb-0 d-none d-sm-block"><i class="mt-1 icon fas fa-envelope"></i></label>
                                    <input class="input-solid input-solid-lg required email" type="text" name="contact-email" placeholder="Enter your email">
                                    <input type="text" class="d-none" name="form-anti-honeypot" value="">
                                </div>
                                <div class="submit-wrap">
                                    <button class="btn btn-primary">Subscribe</button>
                                </div>
                            </div>
                            <div class="form-results"></div>
                        </form>
                    </div>
                </div>
            </div><!-- .block -->
        </div>
    </section>
    <section class="section tc-light animated" data-animate="fadeInUp" data-delay=".2">
        <div class="container">
            <div class="nk-block">
                <div class="gutter-vr-15px px row justify-content-between align-items-center text-center text-sm-start">
                    <div class="col-lg-4">
                        <ul class="social justify-content-center ms-n2">
                            <li><a href="#"><em class="social-icon social-icon-transparent fab fa-facebook-f"></em></a></li>
                            <li><a href="#"><em class="social-icon social-icon-transparent fab fa-twitter"></em></a></li>
                            <li><a href="#"><em class="social-icon social-icon-transparent fab fa-youtube"></em></a></li>
                            <li><a href="#"><em class="social-icon social-icon-transparent fab fa-github"></em></a></li>
                            <li><a href="#"><em class="social-icon social-icon-transparent fab fa-medium-m"></em></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-5 col-sm-8">
                        <div class="copyright-text copyright-text-s4">
                            <p>&copy; Copyright @dt.Year,
                                <a href="https://coingarden.world/" target="_blank">
                                    CoinGarden.World
                                </a>. All Rights Reserved.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 text-sm-end">
                        <ul class="footer-links">
                            <li><a href="#">Terms &amp; Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="nk-ovm mask-f-footer shape-z3"></div>
    <!-- Place Particle Js -->
    <div id="particles-bg2" class="particles-container particles-bg"></div>
</footer>

@code {

    private DateTime dt = DateTime.Now;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        await base.OnAfterRenderAsync(firstRender);

        //if (!firstRender)
        //    await jsRuntime.InvokeAsync<string>("NioApp.Plugins.particles");
        //var module = await jsRuntime.InvokeAsync<IJSInProcessObjectReference>(
        //    "import", "./_content/CoinGardenWorld.Theme/assets/js/scripts.js");
        //await module.InvokeAsync<string>("NioApp.winLoad");
        //await module.InvokeAsync<string>("NioApp.Plugins.particles");

    }
}
