@inject IJSRuntime jsRuntime

<!-- Header -->
<div class="header-main">
    <div class="header-container container">
        <div class="header-wrap">
            <!-- Logo -->
            <div class="header-logo logo animated" data-animate="fadeInDown" data-delay=".6">
                <a href="./" class="logo-link">
                    <img class="logo-dark" src="images/logo-black.png" alt="logo">
                    <img class="logo-light" src="images/logo-white.png" alt="logo">

                </a>
            </div>
            <!-- Menu Toogle -->
            <div class="header-nav-toggle">
                <a href="#" class="navbar-toggle" data-menu-toggle="header-menu">
                    <div class="toggle-line">
                        <span></span>
                    </div>
                </a>
            </div>
            <!-- Menu -->
            <div class="header-navbar animated" data-animate="fadeInDown" data-delay=".75">
                <nav class="header-menu" id="header-menu">
                    <ul class="menu">
                        <li class="menu-item"><a class="menu-link nav-link" href="#header">Home</a></li>

                        <li class="menu-item"><a class="menu-link nav-link" href="#mobile-app-home">Mobile Application</a></li>
                        <li class="menu-item"><a class="menu-link nav-link" href="#metaverse-home">Metaverse</a></li>
                        <li class="menu-item"><a class="menu-link nav-link" href="#token-home">Token</a></li>

                        <li class="menu-item has-sub">
                            <a class="menu-link nav-link menu-toggle" href="#">
                                Information
                            </a>
                            <div class="menu-sub menu-drop menu-mega menu-mega-2clmn">
                                <div class="menu-mega-innr">
                                    <ul class="menu-mega-list">
                                        <li class="menu-item">
                                            <a href="https://docs.coingarden.world/" target="_blank">
                                                Documentation
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">Github</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">Litepaper<span class="badge badge-xs badge-info">v0.3.3</span></a>
                                        </li>
                                    </ul>
                                    <ul class="menu-mega-list">
                                        <li class="menu-item">
                                            <a href="#">Test Pages</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="counter">Counter</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="culturetest">Culture Test</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="menu-btns">
                        <li class="language-switcher language-switcher-s3 toggle-wrap">
                            <a class="toggle-tigger" href="#">English</a>
                            <ul class="toggle-class toggle-drop toggle-drop-left drop-list drop-list-sm">
                                <li>
                                    <a href="#">Bulgarian</a>
                                </li>
                            </ul>
                        </li>
                       @* <li>
                            <a href="page-login.html" class="btn btn-md btn-auto btn-primary no-change">
                                <span>Login</span>
                            </a>
                        </li>*@
                    </ul>
                </nav>
            </div><!-- .header-navbar -->
        </div>
    </div>
</div><!-- .header-main -->
@code {

    }
