@inherits BannerBase
@inject IStringLocalizer<HomeBanner> _localizer


<!-- Banner -->
<div class="header-banner bg-theme-grad">
    <div class="nk-banner">
        <div class="banner banner-fs banner-pd-lg">
            <div class="banner-wrap">
                <div class="container">
                    <div class="row gutter-vr-30px align-items-center justify-content-lg-between justify-content-center">
                        <div class="col-lg-4 col-sm-9 order-lg-last">
                            <div class="banner-gfx-re-s3 my-0 animated" data-animate="fadeInUp" data-delay="1">
                                <img src="images/colorful_animated_picture_little_futuristic_a_happy_ch-removebg-preview.webp" alt="header">
                            </div>
                        </div><!-- .col -->
                        <div class="col-lg-8 col-xl-7 col-sm-10 text-center text-lg-start">
                            <div class="banner-caption wide-auto-xl pdb-l pdt-r tc-light">
                                <div class="cpn-head">
                                    <h1 class="title title-md animated fadeInUp" data-animate="fadeInUp" data-delay="1.25" style="visibility: visible; animation-delay: 1.25s;">
                                        GardenBOT 
                                        <span class="title-thin">
                                            a part of <br class="d-none d-xl-block">
                                        </span> CoinGarden.World<br class="d-none d-xl-block">
                                        <span class="title-thin">
                                            a Revolutionary Set of Apps
                                        </span>  
                                    </h1>
                                </div>
                                <div class="cpn-text-s1 cpn-text-center">
                                    <p class="lead animated fadeInUp" data-animate="fadeInUp" data-delay="1.35" style="visibility: visible; animation-delay: 1.35s;">
                                        Our Chat Bot App uses AI technology to recognize different types of flowers and provide users with more information about them. This app can help people learn more about the flowers in their environment and appreciate their beauty.

                                    </p>
                                </div>
                                <ul class="cpn-links flex-wrap flex-sm-nowrap cpn-links-s1 pt-0 pb-3 pb-sm-0">
                                    <li class="order-sm-0">
                                        <a href="https://www.youtube.com/watch?v=SSo_EIwHSd4" class="link link-xs link-light video-popup">
                                            <em class="link-icon fas fa-play"></em><span>Go to main site</span>
                                        </a>
                                    </li>
                                    <li class="order-sm-0 order-last w-100">
                                        <a href="#" class="btn btn-round btn-primary btn-lg">
                                            Chat with the bot
                                        </a>
                                    </li>
                                    <li class="order-sm-0">
                                        <a href="#" class="link link-xs link-light">
                                            <em class="link-icon fas fa-file"></em><span>Documentation</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div>
            </div>
        </div>
    </div><!-- .nk-banner -->
    <div class="nk-ovm mask-f mask-contain-bottom shape-a2"></div>
    <!-- Place Particle Js -->
    <div id="particles-bg" class="particles-container particles-bg"></div>
</div>
<!-- .header-banner -->
@code {


}
