@page "/counter"
@inherits ThemeComponentBase<PageBanner>


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    protected override string BannerTitle { get => "Counter";  }
    protected override string BannerDescription { get => "description from the counter page and so on "; }


    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }


}
