@page "/"
@inherits ThemeComponentBase<HomeBanner>

<PageTitle>Home - CoinGarden.World</PageTitle>

<section class="section bg-transparent over-up over-up-xl-s2 pdt-0" style="z-index: 48">
    <div class="ui-mask-right ui-mask-s8"></div>
    <div class="container">
        <!-- Block  -->
        <div class="nk-block nk-block-features-s3">
            <div class="row justify-content-center">

                <CenterCardIcon FeatureCardDelay="1.6" FeatureCardImageSrc="images/animated_picture_for_a_website_-_a_hand_holding_a-230x230.png">
                    <FeatureCardTitle>
                        Mobile Application
                    </FeatureCardTitle>
                    <FeatureCardDescription>
                        The mobile application is a way to identify flowers and plan their best cultivation according to their type, season and weather conditions where the flower is located.
                    </FeatureCardDescription>
                </CenterCardIcon>

                <CenterCardIcon FeatureCardDelay="1.4" FeatureCardImageSrc="images/island_with_nature_and_flowers_for_farming_game_on_a_wh_transparent-250x250.png">
                    <FeatureCardTitle>
                        Metaverse
                    </FeatureCardTitle>
                    <FeatureCardDescription>
                        "World of Flowers" is a game where every single user who uses the app or takes
                        care of at least one flower will get their own island where
                        they can arrange and "plant" their real flowers in the metaverse.
                    </FeatureCardDescription>
                </CenterCardIcon>

                <CenterCardIcon FeatureCardDelay="1.4" FeatureCardImageSrc="images/happy_colorfull_animated_picture_for_charity_website400x400.png">
                    <FeatureCardTitle>
                        Charities
                    </FeatureCardTitle>
                    <FeatureCardDescription>
                        The donation system in "World of Flowers" is a unique way that users,
                        together, can save endangered places or clear a polluted forest of waste.
                    </FeatureCardDescription>
                </CenterCardIcon>


            </div><!-- .row -->
        </div><!-- .block  -->
    </div>
</section>
<!-- // -->
<LargePanelRightPicture>
</LargePanelRightPicture>

<!-- // -->
<section class="section bg-transparent pdt-0 ov-v">
    <div class="ui-mask-right ui-mask-s10"></div>
    <div class="container">
        <!-- Section Head  -->

        <div class="nk-block nk-block-features-s3">
            <div class="row justify-content-center">

                <!-- Block  -->
                <CenterCardIcon FeatureCardDelay=".3" FeatureCardImageSrc="images/colorfull_animated_picture_of_a_flower_shop_on_a_transparent-300x300.png">
                    <FeatureCardTitle>
                        Flower Store
                    </FeatureCardTitle>
                    <FeatureCardDescription>
                        When you take good care of your garden, let it take care of you. Go to the NFT store and sell your collection of photos of your most beautiful flower, and if you continue to take care of it, each subsequent photo will be of a higher level and that will make it more valuable.
                    </FeatureCardDescription>
                </CenterCardIcon>

                <CenterCardIcon FeatureCardDelay=".4" FeatureCardImageSrc="images/colorful_animated_picture_little_futuristic_a_happy_ch_transparent-300x300.png">
                    <FeatureCardTitle>
                        Garden BOT
                    </FeatureCardTitle>
                    <FeatureCardDescription>
                        Chat with our flower recognition bot and send him pictures of flowers, he immediately will respond with the sort of the  and information how to take care of it. 
                    </FeatureCardDescription>
                </CenterCardIcon>

                <CenterCardIcon FeatureCardDelay=".4" FeatureCardImageSrc="images/colorfull_animated_picture_little_futuristic_of_a_crypt_fb_tranparent-300x300.png">
                    <FeatureCardTitle>
                        Crypto Token
                    </FeatureCardTitle>
                    <FeatureCardDescription>
                        GRDN token is the base currency in the entire infrastructure. 
                        All donations and causes, all rewards received for taking care of the flowers,
                        as well as the metaverse are in the main crypto currency GRDN. 
                    </FeatureCardDescription>
                </CenterCardIcon>


            </div><!-- .row -->
        </div><!-- .block  -->
    </div>
</section>
<!-- // -->
<section class="">

    <div class="ui-mask-left ui-mask-s11"></div>
    <div class="container">
        <!-- Section Head  -->
        <div class="section-head text-center wide-sm animated" data-animate="fadeInUp" data-delay=".1">
            <h2 class="title title-dark title-regular">
                Own the future! <br /> <span>"World of Flowers"</span> is your portal to the blockchain world.
            </h2>
        </div>
        <div class="nk-block">
            <div class="tab-content">
                <div class="row align-items-center justify-content-between gutter-vr-40px">
                    <div class="col-lg-6">
                        <div class="nk-block-img nk-block-ca">
                            <div class="nk-circle-animation nk-df-center fast"></div>
                            <img class="rounded" src="images/logo_for_a_flowers_farming_game_globe_with_multiple_islnds-860x860.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="nk-block-text mgb-m30">
                            <h2 class="title title-md">A Open Platform for our Participators</h2>
                            <p>Each participator can choose the trader and to sign a contract.</p>
                            <div class="feature feature-inline feature-middle">
                                <div class="feature-icon feature-icon-md">
                                    <em class="icon icon-md icon-grd ikon ikon-bulb"></em>
                                </div>
                                <div class="feature-text">
                                    <p>User have full access to trading consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                            <div class="feature feature-inline feature-middle">
                                <div class="feature-icon feature-icon-md">
                                    <em class="icon icon-md icon-grd ikon ikon-paricle"></em>
                                </div>
                                <div class="feature-text">
                                    <p>Our multi-cryptocurrency exchange will uis aute irure dolor in reprehenderit in voluptate velit uuntur magni dolores esse cillum.</p>
                                </div>
                            </div>
                            <div class="feature feature-inline feature-middle">
                                <div class="feature-icon feature-icon-md">
                                    <em class="icon icon-md icon-grd ikon ikon-bulb-2"></em>
                                </div>
                                <div class="feature-text">
                                    <p>Users will be able to take quis nostrum exercitationem ullam corporis susci pitlabo riosam, nisi ut aliquid ex ea commodie.</p>
                                </div>
                            </div>
                            <div class="feature feature-inline feature-middle">
                                <div class="feature-icon feature-icon-md">
                                    <em class="icon icon-md icon-grd ikon ikon-document-2"></em>
                                </div>
                                <div class="feature-text">
                                    <p>Sign a smart-contract to allow our trader’s access for live trading corporis cryptocurrency susci pitlabo riosam, nisi ut.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- // -->
<section class="section has-ovm">
    <div class="ui-mask-right ui-mask-s12"></div>
    <div class="container">
        <!-- Section Head  -->
        <div class="section-head text-center wide-sm animated" data-animate="fadeInUp" data-delay=".1">
            <h2 class="title title-dark title-regular">Supported Currency</h2>
        </div>
        <!-- Section Head  -->
        <div class="nk-block">
            <div class="row">
                <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
                    <div class="feature feature-center card animated" data-animate="fadeInUp" data-delay=".2">
                        <div class="feature-icon feature-icon-btc mb-1">
                            <em class="icon icon-md ikon ikon-btc"></em>
                        </div>
                        <div class="feature-text feature-currency">
                            <h3 class="title title-sm">BitCoin</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
                    <div class="feature feature-center card animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="feature-icon feature-icon-eth mb-1">
                            <em class="icon icon-md ikon ikon-eth"></em>
                        </div>
                        <div class="feature-text feature-currency">
                            <h3 class="title title-sm">Ethereum</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
                    <div class="feature feature-center card animated" data-animate="fadeInUp" data-delay=".4">
                        <div class="feature-icon feature-icon-ltc mb-1">
                            <em class="icon icon-md ikon ikon-ltc"></em>
                        </div>
                        <div class="feature-text feature-currency">
                            <h3 class="title title-sm">Ethereum</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
                    <div class="feature feature-center card animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="feature-icon feature-icon-xrp mb-1">
                            <em class="icon icon-md ikon ikon-xrp"></em>
                        </div>
                        <div class="feature-text feature-currency">
                            <h3 class="title title-sm">Ripple</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
                    <div class="feature feature-center card animated" data-animate="fadeInUp" data-delay=".6">
                        <div class="feature-icon feature-icon-dash mb-1">
                            <em class="icon icon-md ikon ikon-dash"></em>
                        </div>
                        <div class="feature-text feature-currency">
                            <h3 class="title title-sm">Dash Coin</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
                    <div class="feature feature-center card animated" data-animate="fadeInUp" data-delay=".7">
                        <div class="feature-icon feature-icon-monero mb-1">
                            <em class="icon icon-md ikon ikon-monero"></em>
                        </div>
                        <div class="feature-text feature-currency">
                            <h3 class="title title-sm">Morero</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    protected override string BannerTitle { get => "🌼 World of Flowers 🌺 "; }
    protected override string BannerDescription { get => " Web3 Infrastructure for gardening, growing, <br class='d-none d-md-block'> selling and earning crypto from your flowers "; }

}