@page "/"
@inherits ThemeComponentBase<HomeBanner>

<PageTitle>Home - CoinGarden.World</PageTitle>

<section class="section bg-transparent over-up over-up-xl-s2 pdt-0" style="z-index: 48">
    <div class="ui-mask-right ui-mask-s8"></div>
    <div class="container">
        <!-- Block  -->
        <div class="nk-block nk-block-features-s3">
            <div class="row justify-content-center">

                <CenterCardIcon FeatureCardDelay="1.6" FeatureCardImageSrc="images/animated_picture_for_a_website_-_a_hand_holding_a-230x230.png">
                    <FeatureCardTitle>
                        Mobile Application
                    </FeatureCardTitle>
                    <FeatureCardDescription>
                        The mobile application is a way to identify flowers and plan their best cultivation according to their type, season and weather conditions where the flower is located.
                    </FeatureCardDescription>
                </CenterCardIcon>

                <CenterCardIcon FeatureCardDelay="1.4" FeatureCardImageSrc="images/island_with_nature_and_flowers_for_farming_game_on_a_wh_transparent-250x250.png">
                    <FeatureCardTitle>
                        Metaverse
                    </FeatureCardTitle>
                    <FeatureCardDescription>
                        "World of Flowers" is a game where every single user who uses the app or takes
                        care of at least one flower will get their own island where
                        they can arrange and "plant" their real flowers in the metaverse.
                    </FeatureCardDescription>
                </CenterCardIcon>

                <CenterCardIcon FeatureCardDelay="1.4" FeatureCardImageSrc="images/happy_colorfull_animated_picture_for_charity_website400x400.png">
                    <FeatureCardTitle>
                        Charities
                    </FeatureCardTitle>
                    <FeatureCardDescription>
                        The donation system in "World of Flowers" is a unique way that users,
                        together, can save endangered places or clear a polluted forest of waste.
                    </FeatureCardDescription>
                </CenterCardIcon>


            </div><!-- .row -->
        </div><!-- .block  -->
    </div>
</section>
<!-- // -->
<LargePanelRightPicture SectionId="mobile-app-home">
</LargePanelRightPicture>

<!-- // -->
<section class="section bg-transparent pdt-0 ov-v">
    <div class="ui-mask-right ui-mask-s10"></div>
    <div class="container">
        <!-- Section Head  -->

        <div class="nk-block nk-block-features-s3">
            <div class="row justify-content-center">

                <!-- Block  -->
                <CenterCardIcon FeatureCardDelay=".3" FeatureCardImageSrc="images/colorfull_animated_picture_of_a_flower_shop_on_a_transparent-300x300.png">
                    <FeatureCardTitle>
                        Flower Store
                    </FeatureCardTitle>
                    <FeatureCardDescription>
                        When you take good care of your garden, let it take care of you. Go to the NFT store and sell your collection of photos of your most beautiful flower, and if you continue to take care of it, each subsequent photo will be of a higher level and that will make it more valuable.
                    </FeatureCardDescription>
                </CenterCardIcon>

                <CenterCardIcon FeatureCardDelay=".4" FeatureCardImageSrc="images/colorful_animated_picture_little_futuristic_a_happy_ch_transparent-300x300.png">
                    <FeatureCardTitle>
                        Garden BOT
                    </FeatureCardTitle>
                    <FeatureCardDescription>
                        Chat with our flower recognition bot and send him pictures of flowers, he immediately will respond with the sort of the  and information how to take care of it.
                    </FeatureCardDescription>
                </CenterCardIcon>

                <CenterCardIcon FeatureCardDelay=".4" FeatureCardImageSrc="images/colorfull_animated_picture_little_futuristic_of_a_crypt_fb_tranparent-300x300.png">
                    <FeatureCardTitle>
                        Crypto Token
                    </FeatureCardTitle>
                    <FeatureCardDescription>
                        GRDN token is the base currency in the entire infrastructure.
                        All donations and causes, all rewards received for taking care of the flowers,
                        as well as the metaverse are in the main crypto currency GRDN.
                    </FeatureCardDescription>
                </CenterCardIcon>


            </div><!-- .row -->
        </div><!-- .block  -->
    </div>
</section>
<!-- // -->
<section class="" id="metaverse-home">

    <div class="ui-mask-left ui-mask-s11"></div>
    <div class="container">
        <!-- Section Head  -->
        <div class="section-head text-center wide-sm animated" data-animate="fadeInUp" data-delay=".1">
            <h2 class="title title-dark title-regular">
                Own the future! <br /> <span>"World of Flowers"</span> is your portal to the blockchain world.
            </h2>
        </div>
        <div class="nk-block">
            <div class="tab-content">
                <div class="row align-items-center justify-content-between gutter-vr-40px">
                    <div class="col-lg-6">
                        <div class="nk-block-img nk-block-ca">
                            <div class="nk-circle-animation nk-df-center fast"></div>
                            <img class="rounded" src="images/logo_for_a_flowers_farming_game_globe_with_multiple_islnds-860x860.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="nk-block-text mgb-m30">
                            <h2 class="title title-md">
                                 Open platform for everyone
                            </h2>
                            <p>
                                The metaverse can be played freely by all flower lovers.
                            </p>
                            <div class=" feature-inline feature-middle">
                                <div class="feature-icon feature-icon-md">
                                    <span class="icon icon-md ">💮</span>
                                </div>
                                <div class="feature-text">
                                    <p>
                                        Anyone who takes care of at least one flower will receive a free island in the Metaverse.
                                    </p>
                                </div>
                            </div>
                            <div class=" feature-inline feature-middle">
                                <div class="feature-icon feature-icon-md">
                                    <span class="icon icon-md ">🌸</span>
                                </div>
                                <div class="feature-text">
                                    <p>
                                        Even if you don't have plants, you can buy some from the NFT shop and still continue playing.
                                    </p>
                                </div>
                            </div>
                            <div class=" feature-inline feature-middle">
                                <div class="feature-icon feature-icon-md">
                                    <span class="icon icon-md ">🪷</span>
                                </div>
                                <div class="feature-text">
                                    <p>The more flowers you have in the "World of Flowers", the more GRDN Coin you will earn per day if you play.</p>
                                </div>
                            </div>
                            <div class="feature feature-inline feature-middle">
                                <div class="feature-icon feature-icon-md">
                                    <span class="icon icon-md ">🌺</span>
                                </div>
                                <div class="feature-text">
                                    <p>Your island will grow with the number of flowers that you have. You can even add decorations to your island and invite other players to visit it.</p>
                                </div>
                            </div>
                            
                            <ul class=" btn-grp justify-content-center justify-content-md-start">
                                <li><button href="#" class="btn btn-grad btn-round btn-md" disabled>Login to Metaverse (TBA)</button></li>
                                <li>
                                    <ul class="btn-grp gutter-15px">
                                        <li><a ><em class="fab fa-apple"></em></a></li>
                                        <li><a ><em class="fab fa-android"></em></a></li>
                                        <li>
                                            <a >

                                                <em class="fab fa-windows">
                                                </em>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- // -->
<section class="section has-ovm" id="token-home">
    <div class="ui-mask-right ui-mask-s12"></div>
    <div class="container">
        <!-- Section Head  -->
        <div class="section-head text-center wide-sm animated" data-animate="fadeInUp" data-delay=".1">
            <h2 class="title title-dark title-regular">Supported Currency</h2>
        </div>
        <!-- Section Head  -->
        <div class="nk-block">
            <div class="row">
                <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
                    <div class="feature feature-center card animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="feature-icon feature-icon-eth mb-1">
                            <i class="icon icon-md cf cf-eth"></i>
                        </div>
                        <div class="feature-text feature-currency">
                            <h3 class="title title-sm">Ethereum</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
                    <div class="feature feature-center card animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="feature-icon feature-icon-eth mb-1">
                            <i class="icon icon-md cf cf-bnb"></i>  <!-- Bitcoin -->
                        </div>
                        <div class="feature-text feature-currency">
                            <h3 class="title title-sm">Binance</h3>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
                    <div class="feature feature-center card animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="feature-icon feature-icon-eth mb-1">
                            <i class="icon icon-md cf cf-matic"></i>  <!-- Bitcoin -->
                        </div>
                        <div class="feature-text feature-currency">
                            <h3 class="title title-sm">Polygon</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
                    <div class="feature feature-center card animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="feature-icon feature-icon-eth mb-1">
                            <i class="icon icon-md cf cf-dot"></i>  <!-- Bitcoin -->
                        </div>
                        <div class="feature-text feature-currency">
                            <h3 class="title title-sm">Polkadot</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
                    <div class="feature feature-center card animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="feature-icon feature-icon-eth mb-1">
                            <i class="icon icon-md cf cf-avax"></i>  <!-- Bitcoin -->
                        </div>
                        <div class="feature-text feature-currency">
                            <h3 class="title title-sm">Avalanche</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
                    <div class="feature feature-center card animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="feature-icon feature-icon-eth mb-1">
                            <i class="icon icon-md cf cf-sol"></i>  <!-- Bitcoin -->
                        </div>
                        <div class="feature-text feature-currency">
                            <h3 class="title title-sm">Solana</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    protected override string BannerTitle { get => "🌼 World of Flowers 🌺 "; }
    protected override string BannerDescription { get => " Web3 Infrastructure for gardening, growing, <br class='d-none d-md-block'> selling and earning crypto from your flowers "; }

}