@page "/"
@inherits ThemeComponentBase<HomeBanner>

<PageTitle>Home - CoinGarden.World</PageTitle>

<section class="section bg-transparent over-up over-up-xl-s2 pdt-0">
    <div class="ui-mask-right ui-mask-s8"></div>
    <div class="container">
        <!-- Block  -->
        <div class="nk-block nk-block-features-s3">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-10">
                    <div class="feature feature-center card card-lg-y animated" data-animate="fadeInUp" data-delay="1.4">
                        <div class="feature-icon feature-icon-bg-grd feature-icon-bg-grd-s1">
                            <em class="icon ikon ikon-currency icon-grd icon-lg-s2"></em>
                        </div>
                        <div class="feature-text">
                            <h4 class="title title-md title-dark mb-4">Legally Compliant</h4>
                            <p>ICO Crypto is fully licensed in world Lorem ipsum dolor sit amet, conse is ctetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div><!-- .col -->
                <div class="col-lg-4 col-md-10">
                    <div class="feature feature-center card card-lg-y animated" data-animate="fadeInUp" data-delay="1.5">
                        <div class="feature-icon feature-icon-bg-grd feature-icon-bg-grd-s2">
                            <em class="icon ikon ikon-lock icon-grd icon-lg-s2"></em>
                        </div>
                        <div class="feature-text">
                            <h4 class="title title-md title-dark mb-4">Industry Leading Security</h4>
                            <p>ICO Crypto is fully licensed in world Lorem ipsum dolor sit amet, conse is ctetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div><!-- .col -->
                <div class="col-lg-4 col-md-10">
                    <div class="feature feature-center card card-lg-y animated" data-animate="fadeInUp" data-delay="1.6">
                        <div class="feature-icon feature-icon-bg-grd feature-icon-bg-grd-s3">
                            <em class="icon ikon ikon-question icon-grd icon-lg-s2"></em>
                        </div>
                        <div class="feature-text">
                            <h4 class="title title-md title-dark mb-4">Word Class Support</h4>
                            <p>ICO Crypto is fully licensed in world Lorem ipsum dolor sit amet, conse is ctetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .block  -->
    </div>
</section>
<!-- // -->
<section class="section pdt-0 ov-v">
    <div class="ui-mask-left ui-mask-s9"></div>
    <div class="container">
        <!-- Block  -->
        <div class="nk-block nk-block-text-wrap">
            <div class="row align-items-center gutter-vr-30px justify-content-between gutter-vr-30px">
                <div class="col-lg-5 col-mb-9 m-auto order-first order-lg-last">
                    <div class="nk-block-img animated" data-animate="fadeInUp" data-delay=".3">
                        <img src="_content/CoinGardenWorld.Theme/images/gfx/gfx-z-g.png" alt="app">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="nk-block-text animated" data-animate="fadeInUp" data-delay=".2">
                        <div class="nk-block-shade"></div>
                        <h3 class="title title-dark title-regular">ICOX is a decentralized currency that trades and invest with powerful blockchain applications.</h3>
                        <p>ICO Crypto is a platform for future of funding that powering the new blockchain.</p>
                        <p>ICOX Coin is a cryptocurrency designed for unde omnis iste natus error sit voluptatem accus antium doloremque laudant aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                        <p> After seriously considering eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        <div class="nk-block-note nk-block-note-s2">
                            <em class="icon ti ti-rocket"></em>
                            <p>Pre-ICO ICOX Coin has already secured over 30 partnerships worldwide, with more partnerships being finalized each day.</p>
                        </div>
                    </div>
                </div>
            </div><!-- .row -->
        </div><!-- .block  -->
    </div>
</section>
<!-- // -->
<section>
    <div class="ui-mask-right ui-mask-s10"></div>
    <section class="section bg-transparent pdt-0 ov-v">
        <div class="container">
            <!-- Section Head  -->
            <div class="section-head text-center wide-sm animated" data-animate="fadeInUp" data-delay=".1">
                <h2 class="title title-dark title-regular">Why Choose us?</h2>
            </div>
            <!-- Section Head  -->
            <!-- Block  -->
            <div class="nk-block nk-block-features-s3">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-10">
                        <div class="feature feature-center card card-lg-y animated" data-animate="fadeInUp" data-delay=".2">
                            <div class="feature-icon feature-icon-lg-s3 pb-4">
                                <img src="_content/CoinGardenWorld.Theme/images/icons/icon-t.png" alt="feature">
                            </div>
                            <div class="feature-text">
                                <h4 class="title title-md title-dark">Secured User Data</h4>
                                <p>We protect user data and emo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut</p>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-4 col-md-10">
                        <div class="feature feature-center card card-lg-y animated" data-animate="fadeInUp" data-delay=".3">
                            <div class="feature-icon feature-icon-lg-s3 pb-4">
                                <img src="_content/CoinGardenWorld.Theme/images/icons/icon-u.png" alt="feature">
                            </div>
                            <div class="feature-text">
                                <h4 class="title title-md title-dark">Most Credibility</h4>
                                <p>Most authentically sed do eiusmod tempor incididunt ut labore et dolore magna aliqua cillum.</p>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-4 col-md-10">
                        <div class="feature feature-center card card-lg-y animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="feature-icon feature-icon-lg-s3 pb-4">
                                <img src="_content/CoinGardenWorld.Theme/images/icons/icon-v.png" alt="feature">
                            </div>
                            <div class="feature-text">
                                <h4 class="title title-md title-dark">Flexibility & Easy to Use</h4>
                                <p>You can trade & invest toekn oluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime</p>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block  -->
        </div>
    </section>
    <!-- // -->
    <section class="section pdt-0">
        <div class="container">
            <div class="nk-block">
                <div class="gutter-vr-30px row justify-content-between align-items-center">
                    <div class="col-lg-6">
                        <div class="nk-block-text animated" data-animate="fadeInUp" data-delay=".1">
                            <h2 class="title title-dark title-regular">We are the best for <br class="d-none d-md-block">Crypto-Currency platform</h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-6 col-md-3 col-lg-6">
                                <div class="feature animated" data-animate="fadeInUp" data-delay=".2">
                                    <div class="feature-text">
                                        <h3 class="title title-md text-primary mb-1">90M+</h3>
                                        <p>Crypto Exchanged <br class="d-none d-lg-block">from FIAT</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 col-lg-6">
                                <div class="feature animated" data-animate="fadeInUp" data-delay=".3">
                                    <div class="feature-text">
                                        <h3 class="title title-md text-primary mb-1">30+</h3>
                                        <p>Cryptocurrencies <br class="d-none d-lg-block">supported</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 col-lg-6">
                                <div class="feature animated" data-animate="fadeInUp" data-delay=".4">
                                    <div class="feature-text">
                                        <h3 class="title title-md text-primary mb-1">40.000+</h3>
                                        <p>Users from all around <br class="d-none d-lg-block">the world</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 col-lg-6">
                                <div class="feature animated" data-animate="fadeInUp" data-delay=".5">
                                    <div class="feature-text">
                                        <h3 class="title title-md text-primary mb-1">100%</h3>
                                        <p>Full satisfaction customer <br class="d-none d-lg-block">support</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- // -->
<section class="section pdt-0 ov-v">
    <div class="ui-mask-left ui-mask-s11"></div>
    <div class="container">
        <div class="nk-block">
            <div class="row align-items-center gutter-vr-30px">
                <div class="col-lg-6">
                    <div class="nk-block-img animated" data-animate="fadeInUp" data-delay=".1">
                        <img src="_content/CoinGardenWorld.Theme/images/gfx/gfx-z-h.png" alt="gfx">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="nk-block-text animated" data-animate="fadeInUp" data-delay=".2">
                        <h2 class="title title-dark title-regular">Take control of your <br>credit and crypto-currency</h2>
                        <p>ICO Crypto is a platform for future of funding that powering the new blockchain. </p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <p>After seriously considering eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // -->
<section class="section pdt-0">
    <div class="ui-mask-right ui-mask-s12"></div>
    <div class="container">
        <!-- Section Head  -->
        <div class="section-head text-center wide-sm animated" data-animate="fadeInUp" data-delay=".1">
            <h2 class="title title-dark title-regular">Supported Currency</h2>
        </div>
        <!-- Section Head  -->
        <div class="nk-block">
            <div class="row">
                <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
                    <div class="feature feature-center card animated" data-animate="fadeInUp" data-delay=".2">
                        <div class="feature-icon feature-icon-btc mb-1">
                            <em class="icon icon-md ikon ikon-btc"></em>
                        </div>
                        <div class="feature-text feature-currency">
                            <h3 class="title title-sm">BitCoin</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
                    <div class="feature feature-center card animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="feature-icon feature-icon-eth mb-1">
                            <em class="icon icon-md ikon ikon-eth"></em>
                        </div>
                        <div class="feature-text feature-currency">
                            <h3 class="title title-sm">Ethereum</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
                    <div class="feature feature-center card animated" data-animate="fadeInUp" data-delay=".4">
                        <div class="feature-icon feature-icon-ltc mb-1">
                            <em class="icon icon-md ikon ikon-ltc"></em>
                        </div>
                        <div class="feature-text feature-currency">
                            <h3 class="title title-sm">Ethereum</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
                    <div class="feature feature-center card animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="feature-icon feature-icon-xrp mb-1">
                            <em class="icon icon-md ikon ikon-xrp"></em>
                        </div>
                        <div class="feature-text feature-currency">
                            <h3 class="title title-sm">Ripple</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
                    <div class="feature feature-center card animated" data-animate="fadeInUp" data-delay=".6">
                        <div class="feature-icon feature-icon-dash mb-1">
                            <em class="icon icon-md ikon ikon-dash"></em>
                        </div>
                        <div class="feature-text feature-currency">
                            <h3 class="title title-sm">Dash Coin</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
                    <div class="feature feature-center card animated" data-animate="fadeInUp" data-delay=".7">
                        <div class="feature-icon feature-icon-monero mb-1">
                            <em class="icon icon-md ikon ikon-monero"></em>
                        </div>
                        <div class="feature-text feature-currency">
                            <h3 class="title title-sm">Morero</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // -->
<section class="section pdt-0 ov-v">
    <div class="ui-mask-right ui-mask-s11"></div>
    <div class="container">
        <!-- Section Head -->
        <div class="section-head text-center wide-sm animated" data-animate="fadeInUp" data-delay=".1">
            <h2 class="title title-dark title-regular">FAQs</h2>
            <p>Below we’ve provided a bit of ICO, ICO Token, cryptocurrencies, and few others. If you have any other questions, please get in touch via email.</p>
        </div>
        <!-- Section Head  -->
        <div class="nk-block">
            <div class="row">
                <div class="col-md-4 col-lg-3 mb-4 mb-lg-0">
                    <ul class="nav tab-nav tab-nav-vr tab-nav-bdr me-lg-3 bg-white animated" data-animate="fadeInUp" data-delay=".2">
                        <li><a class="active" data-bs-toggle="tab" href="#general-questions-01"><em class="fas fa-caret-right"></em>General Questions</a></li>
                        <li><a data-bs-toggle="tab" href="#ico-questions-01"><em class="fas fa-caret-right"></em>ICO Questions</a></li>
                        <li><a data-bs-toggle="tab" href="#tokens-sales-01"><em class="fas fa-caret-right"></em>Tokens Sales</a></li>
                        <li><a data-bs-toggle="tab" href="#clients-releted-01"><em class="fas fa-caret-right"></em>Clients Releted</a></li>
                    </ul>
                </div><!-- .col -->
                <div class="col-md-8 col-lg-9">
                    <div class="tab-content">
                        <div class="tab-pane fade show active animated" id="general-questions-01" data-animate="fadeInUp" data-delay=".3">
                            <div class="accordion accordion-s2 accordion-faq" id="faq-1">
                                <div class="accordion-item">
                                    <h5 class="accordion-title accordion-title-sm" data-bs-toggle="collapse" data-bs-target="#faq-1-1">What is ICO Crypto? <span class="accordion-icon"></span></h5>
                                    <div id="faq-1-1" class="collapse show" data-bs-parent="#faq-1">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-1-2">What cryptocurrencies can I use to purchase? <span class="accordion-icon"></span></h5>
                                    <div id="faq-1-2" class="collapse" data-bs-parent="#faq-1">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-1-3">How can I participate in the ICO Token sale? <span class="accordion-icon"></span></h5>
                                    <div id="faq-1-3" class="collapse" data-bs-parent="#faq-1">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-1-4">How do I benefit from the ICO Token? <span class="accordion-icon"></span></h5>
                                    <div id="faq-1-4" class="collapse" data-bs-parent="#faq-1">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade animated" id="ico-questions-01" data-animate="fadeInUp" data-delay=".4">
                            <div class="accordion accordion-s2 accordion-faq" id="faq-2">
                                <div class="accordion-item">
                                    <h5 class="accordion-title accordion-title-sm" data-bs-toggle="collapse" data-bs-target="#faq-2-1">Which of us ever undertakes laborious?<span class="accordion-icon"></span></h5>
                                    <div id="faq-2-1" class="collapse show" data-bs-parent="#faq-2">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-2-2">Who do not know how to pursue rationally?<span class="accordion-icon"></span></h5>
                                    <div id="faq-2-2" class="collapse" data-bs-parent="#faq-2">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-2-3">Their separate existence is a myth?<span class="accordion-icon"></span></h5>
                                    <div id="faq-2-3" class="collapse" data-bs-parent="#faq-2">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-2-4">Pityful a rethoric question ran over her cheek?<span class="accordion-icon"></span></h5>
                                    <div id="faq-2-4" class="collapse" data-bs-parent="#faq-2">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade animated" id="tokens-sales-01" data-animate="fadeInUp" data-delay=".5">
                            <div class="accordion accordion-s2 accordion-faq" id="faq-3">
                                <div class="accordion-item">
                                    <h5 class="accordion-title accordion-title-sm" data-bs-toggle="collapse" data-bs-target="#faq-3-1">When she reached the first hills?<span class="accordion-icon"></span></h5>
                                    <div id="faq-3-1" class="collapse show" data-bs-parent="#faq-3">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-3-2">Big Oxmox advised her not to do?<span class="accordion-icon"></span></h5>
                                    <div id="faq-3-2" class="collapse" data-bs-parent="#faq-3">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-3-3">Which roasted parts of sentences fly into your mouth?<span class="accordion-icon"></span></h5>
                                    <div id="faq-3-3" class="collapse" data-bs-parent="#faq-3">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-3-4">Vokalia and Consonantia, there live?<span class="accordion-icon"></span></h5>
                                    <div id="faq-3-4" class="collapse" data-bs-parent="#faq-3">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade animated" id="clients-releted-01" data-animate="fadeInUp" data-delay=".6">
                            <div class="accordion accordion-s2 accordion-faq" id="faq-4">
                                <div class="accordion-item">
                                    <h5 class="accordion-title accordion-title-sm" data-bs-toggle="collapse" data-bs-target="#faq-4-1">How do I benefit from the ICO Token?<span class="accordion-icon"></span></h5>
                                    <div id="faq-4-1" class="collapse show" data-bs-parent="#faq-4">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-4-2">Pityful a rethoric question ran over her cheek?<span class="accordion-icon"></span></h5>
                                    <div id="faq-4-2" class="collapse" data-bs-parent="#faq-4">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-4-3">Vokalia and Consonantia, there live?<span class="accordion-icon"></span></h5>
                                    <div id="faq-4-3" class="collapse" data-bs-parent="#faq-4">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-4-4">Who do not know how to pursue rationally?<span class="accordion-icon"></span></h5>
                                    <div id="faq-4-4" class="collapse" data-bs-parent="#faq-4">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div>
    </div>
</section>
<!-- // -->
<section class="section pdt-0">
    <div class="container">
        <div class="nk-block block-partners animated" data-animate="fadeInUp" data-delay=".1">
            <ul class="partner-list partner-list-left partner-list-s3 flex-wrap">
                <li class="partner-logo partner-logo-s2">
                    <img src="_content/CoinGardenWorld.Theme/images/partners/a-xs-alt.png" alt="partner">
                </li>
                <li class="partner-logo partner-logo-s2">
                    <img src="_content/CoinGardenWorld.Theme/images/partners/b-xs-alt.png" alt="partner">
                </li>
                <li class="partner-logo partner-logo-s2">
                    <img src="_content/CoinGardenWorld.Theme/images/partners/c-xs-alt.png" alt="partner">
                </li>
                <li class="partner-logo partner-logo-s2">
                    <img src="_content/CoinGardenWorld.Theme/images/partners/d-xs-alt.png" alt="partner">
                </li>
                <li class="partner-logo partner-logo-s2">
                    <img src="_content/CoinGardenWorld.Theme/images/partners/e-xs-alt.png" alt="partner">
                </li>
                <li class="partner-logo partner-logo-s2">
                    <img src="_content/CoinGardenWorld.Theme/images/partners/a-xs-alt.png" alt="partner">
                </li>
            </ul>
        </div>
    </div>
</section>

@code {
    protected override string BannerTitle { get => "CoinGarden.World <br class='d-none d-md-block'> 'World of Flowers'"; }
    protected override string BannerDescription { get => "🌼🌷 Web3 Infrastructure for gardening, growing, <br class='d-none d-md-block'> selling and earning crypto from your flowers 🌺 🌻"; }

}