@page "/terms-and-conditions"
@inherits ThemeComponentBase<PageBanner>
@inject IStringLocalizer<Index> _localizer


<PageTitle>Terms and Conditions - CoinGarden.World</PageTitle>

<section class="section">
    <div class="container">
        <div class="nk-block nk-block-blog">
            <div class="row">
                <div class="col-12">
                    <div class="blog-details">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-10">
                                <ul class="blog-meta">
                                    <li>
                                       The Terms and Conditions were last updated on February 9, 2023
                                    </li>
                                    <li>
                                        CoinGarden.World
                                    </li>
                                </ul>
                                <div class="blog-content">
                                    <h2 class="title">
                                        <a href="#">1. Introduction</a>
                                    </h2>
                                    <p>
                                        These Terms and conditions apply to this website and to the transactions related to our products and services. You may be bound by additional contracts related to your relationship with us or any products or services that you receive from us. If any provisions of the additional contracts conflict with any provisions of these Terms, the provisions of these additional contracts will control and prevail.

                                    </p>
                                    <h2 class="title">
                                        <a href="#">2. Binding</a>
                                    </h2>
                                    <p>
                                        By registering with, accessing, or otherwise using this website, you hereby agree to be bound by these Terms and conditions set forth below. The mere use of this website implies the knowledge and acceptance of these Terms and conditions. In some particular cases, we can also ask you to explicitly agree.

                                    </p>
                                    <h2 class="title">
                                        <a href="#">3. Intellectual property</a>
                                    </h2>
                                    <p>
                                        We or our licensors own and control all of the copyright and other intellectual property rights in the website and the data, information, and other resources displayed by or accessible within the website.

                                    </p>
                                    <h4 class="title-sm">
                                        <a href="#">3.1 All the rights are reserved</a>
                                    </h4>
                                    <p>
                                        Unless specific content dictates otherwise, you are not granted a license or any other right under Copyright, Trademark, Patent, or other Intellectual Property Rights. This means that you will not use, copy, reproduce, perform, display, distribute, embed into any electronic medium, alter, reverse engineer, decompile, transfer, download, transmit, monetize, sell, market, or commercialize any resources on this website in any form, without our prior written permission, except and only insofar as otherwise stipulated in regulations of mandatory law (such as the right to quote).
                                    </p>
                                    <h4 class="title">
                                        <a href="#">4. Newsletter</a>
                                    </h4>
                                    <p>
                                        Notwithstanding the foregoing, you may forward our newsletter in the electronic form to others who may be interested in visiting our website.
                                    </p>
                                    <h4 class="title">
                                        <a href="#">5. Third-party property</a>
                                    </h4>
                                    <p>Our website may include hyperlinks or other references to other party’s websites. We do not monitor or review the content of other party’s websites which are linked to from this website. Products or services offered by other websites shall be subject to the applicable Terms and Conditions of those third parties. Opinions expressed or material appearing on those websites are not necessarily shared or endorsed by us.
                                        <br />
                                        We will not be responsible for any privacy practices or content of these sites. You bear all risks associated with the use of these websites and any related third-party services. We will not accept any responsibility for any loss or damage in whatever manner, however caused, resulting from your disclosure to third parties of personal information.
                                    </p>
                                    <h4 class="title">
                                        <a href="#">6. Responsible use</a>
                                    </h4>
                                    <p>
                                        By visiting our website, you agree to use it only for the purposes intended and as permitted by these Terms, any additional contracts with us, and applicable laws, regulations, and generally accepted online practices and industry guidelines. You must not use our website or services to use, publish or distribute any material which consists of (or is linked to) malicious computer software; use data collected from our website for any direct marketing activity, or conduct any systematic or automated data collection activities on or in relation to our website.
                                        <br />
                                        Engaging in any activity that causes, or may cause, damage to the website or that interferes with the performance, availability, or accessibility of the website is strictly prohibited.
                                    </p>
                                    <h4 class="title">
                                        <a href="#">7. Registration</a>
                                    </h4>
                                    <p>
                                        You may register for an account with our website. During this process, you may be required to choose a password. You are responsible for maintaining the confidentiality of passwords and account information and agree not to share your passwords, account information, or secured access to our website or services with any other person. You must not allow any other person to use your account to access the website because you are responsible for all activities that occur through the use of your passwords or accounts. You must notify us immediately if you become aware of any disclosure of your password.
                                        <br />
                                        After account termination, you will not attempt to register a new account without our permission.
                                    </p>
                                    <h4 class="title">
                                        <a href="#">8. Idea submission</a>
                                    </h4>
                                    <p>
                                        Do not submit any ideas, inventions, works of authorship, or other information that can be considered your own intellectual property that you would like to present to us unless we have first signed an agreement regarding the intellectual property or a non-disclosure agreement. If you disclose it to us absent such written agreement, you grant to us a worldwide, irrevocable, non-exclusive, royalty-free license to use, reproduce, store, adapt, publish, translate and distribute your content in any existing or future media.
                                    </p>
                                    <h4 class="title">
                                        <a href="#">9. Termination of use</a>
                                    </h4>
                                    <p>
                                        We may, in our sole discretion, at any time modify or discontinue access to, temporarily or permanently, the website or any Service thereon. You agree that we will not be liable to you or any third party for any such modification, suspension or discontinuance of your access to, or use of, the website or any content that you may have shared on the website. You will not be entitled to any compensation or other payment, even if certain features, settings, and/or any Content you have contributed or have come to rely on, are permanently lost. You must not circumvent or bypass, or attempt to circumvent or bypass, any access restriction measures on our website.
                                    </p>
                                    <h4 class="title">
                                        <a href="#">10. Warranties and liability</a>
                                    </h4>
                                    <p>
                                        Nothing in this section will limit or exclude any warranty implied by law that it would be unlawful to limit or to exclude. This website and all content on the website are provided on an “as is” and “as available” basis and may include inaccuracies or typographical errors. We expressly disclaim all warranties of any kind, whether express or implied, as to the availability, accuracy, or completeness of the Content. We make no warranty that:

                                    </p>
                                    <ul>
                                        <li>
                                            this website or our content will meet your requirements;
                                        </li>
                                        <li>
                                            this website will be available on an uninterrupted, timely, secure, or error-free basis.
                                        </li>
                                    </ul>
                                    <h4 class="title">
                                        <a href="#">11. Privacy</a>
                                    </h4>
                                    <p>
                                        To access our website and/or services, you may be required to provide certain information about yourself as part of the registration process. You agree that any information you provide will always be accurate, correct, and up to date.
                                    </p>
                                    <h4 class="title">
                                        <a href="#">12. Accessibility</a>
                                    </h4>
                                    <p>
                                        We are committed to making the content we provide accessible to individuals with disabilities. If you have a disability and are unable to access any portion of our website due to your disability, we ask you to give us a notice including a detailed description of the issue you encountered. If the issue is readily identifiable and resolvable in accordance with industry-standard information technology tools and techniques we will promptly resolve it.
                                    </p>
                                    <h4 class="title">
                                        <a href="#">13. Export restrictions / Legal compliance</a>
                                    </h4>
                                    <p>
                                        Access to the website from territories or countries where the Content or purchase of the products or Services sold on the website is illegal is prohibited. You may not use this website in violation of export laws and regulations of Bulgaria.
                                    </p>
                                    <h4 class="title">
                                        <a href="#">14. Affiliate marketing</a>
                                    </h4>
                                    <p>
                                        Through this Website we may engage in affiliate marketing whereby we receive a percentage of or a commission on the sale of services or products on or through this website. We may also accept sponsorships or other forms of advertising compensation from businesses. This disclosure is intended to comply with legal requirements on marketing and advertising which may apply, such as the US Federal Trade Commission Rules.
                                    </p>
                                    <h4 class="title">
                                        <a href="#">15. Assignment</a>
                                    </h4>
                                    <p>
                                        You may not assign, transfer or sub-contract any of your rights and/or obligations under these Terms and conditions, in whole or in part, to any third party without our prior written consent. Any purported assignment in violation of this Section will be null and void.
                                    </p>
                                    <h4 class="title">
                                        <a href="#">16. Breaches of these Terms and conditions</a>
                                    </h4>
                                    <p>
                                        Without prejudice to our other rights under these Terms and Conditions, if you breach these Terms and Conditions in any way, we may take such action as we deem appropriate to deal with the breach, including temporarily or permanently suspending your access to the website, contacting your internet service provider to request that they block your access to the website, and/or commence legal action against you.
                                    </p>
                                    <h4 class="title">
                                        <a href="#">17. Indemnification</a>
                                    </h4>
                                    <p>
                                        You agree to indemnify, defend and hold us harmless, from and against any and all claims, liabilities, damages, losses and expenses, relating to your violation of these Terms and conditions, and applicable laws, including intellectual property rights and privacy rights. You will promptly reimburse us for our damages, losses, costs and expenses relating to or arising out of such claims.
                                    </p>
                                    <h4 class="title">
                                        <a href="#">18. Waiver</a>
                                    </h4>
                                    <p>
                                        Failure to enforce any of the provisions set out in these Terms and Conditions and any Agreement, or failure to exercise any option to terminate, shall not be construed as waiver of such provisions and shall not affect the validity of these Terms and Conditions or of any Agreement or any part thereof, or the right thereafter to enforce each and every provision.
                                    </p>
                                    <h4 class="title">
                                        <a href="#">19. Language</a>
                                    </h4>
                                    <p>
                                        These Terms and Conditions will be interpreted and construed exclusively in English. All notices and correspondence will be written exclusively in that language.
                                    </p>
                                    <h4 class="title">
                                        <a href="#">20. Updating of these Terms and conditions</a>
                                    </h4>
                                    <p>
                                        We may update these Terms and Conditions from time to time. The date provided at the beginning of these Terms and Conditions is the latest revision date. We will give you a written notice of any changes or updates, and the revised Terms and Conditions will become effective from the date that we give you such a notice. Your continued use of this website following the posting of changes or updates will be considered notice of your acceptance to abide by and be bound by these Terms and Conditions. To request a prior version of these Terms and conditions, please contact us.
                                    </p>
                                    <h4 class="title">
                                        <a href="#">21. Choice of Law and Jurisdiction</a>
                                    </h4>
                                    <p>
                                        These Terms and Conditions shall be governed by the laws of Bulgaria. Any disputes relating to these Terms and Conditions shall be subject to the jurisdiction of the courts of Bulgaria. If any part or provision of these Terms and Conditions is found by a court or other authority to be invalid and/or unenforceable under applicable law, such part or provision will be modified, deleted and/or enforced to the maximum extent permissible so as to give effect to the intent of these Terms and Conditions. The other provisions will not be affected.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@code {

    protected override string BannerTitle { get => "Terms and Conditions"; }
    protected override string BannerDescription { get => "These Terms and conditions apply to this website and to the transactions related to our products and services. "; }

}
