/* Generating Color Pack*/
.color-highlight {
  color: #434A54 !important;
}

.bg-highlight {
  background-color: #434A54 !important;
  color: #FFF !important;
}

.border-highlight {
  border-color: #434A54 !important;
}

.gradient-highlight {
  background-image: linear-gradient(to bottom, #656D78, #434A54) !important;
}

.splide__pagination__page.is-active {
  background-color: #434A54 !important;
}

input[type=range]::-webkit-slider-thumb {
  background-color: #434A54;
}

.color-highlight {
  color: #434A54;
}

.bg-highlight {
  background-color: #434A54;
  color: #FFF !important;
}

#footer-bar .active-nav i {
  background-image: linear-gradient(to bottom, #656D78, #434A54) !important;
  color: #FFF !important;
}

#footer-bar .active-nav i::after {
  transform: scale(0.8) translateY(5px) translateZ(0px);
  filter: blur(12px);
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -1;
}

.tabs-box .tab-controls [aria-expanded=true], .tabs-links .tab-controls [aria-expanded=true],
.tabs-pill .tab-controls [aria-expanded=true] {
  background-color: #656D78 !important;
}

.tabs-icons .tab-controls [aria-expanded=true] {
  color: #656D78 !important;
}

.tabs-cards .tab-controls [aria-expanded=true] {
  color: #656D78 !important;
}

.tabs-borders .tab-controls [aria-expanded=true] {
  color: #656D78 !important;
  border-color: #656D78 !important;
}
